{% extends "registration/auth_header.html" %} 
{% load static %} 
{% block title %} Reset Password 
{% endblock title %} 
{% block content %}
<div class="bg">
    <div class="box pt-5">
        <h3 class="text-center1">Reset Password</h3><br>
        <div class="form-outline" style="border-radius:49px">
            <input type="text" id="form1" class="form-control">
            <label class="form-label" for="form1" style="padding-top: 15px;padding-left: 20px;">Enter Email</label>
        </div>
        <button class="btn1 mt-4" type="button">Submit</button>
        {% comment %} <h6 class="sign-up-head mt-3" style="font-size:15px;">Dont's have an account &nbsp;<a href="{% url 'signup' %}" class="sign">sign up</a></h6> {% endcomment %}

    </div>
</div>

{% comment %} <div id="popup1" class="overlay">
    <div class="popup">
        <img src="{% static 'img/logo.png' %}"><br>
        <h3>Reset Password</h3>
        <a class="close" href="#">&times;</a>
        <div class="content">
            <hr style="background:white;">
            <div class="form-outline">
                <input type="text" id="form1" class="form-control">
                <label class="form-label" for="form1" style="padding-top: 20px;padding-left: 20px;">Enter mail</label>
            </div>
            <button class="btn1" type="button" style="margin:20px 00 20px;">Send</button>
        </div>
    </div>
</div> {% endcomment %}

{% endblock content %}