{% extends "base.html" %}
{% load static %} {% block title %} Reports {% endblock title %}
{% block content %}
{% include 'navbar.html' %}
<div class="main-content">
    {% include 'header.html' %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.0/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        table.dataTable.nowrap th:nth-child(6),
        table.dataTable.nowrap td:nth-child(6) {
            white-space: unset !important
        }
        .bootstrap-select .dropdown-menu li.disabled.selected{display: none;}
        .dropdown.bootstrap-select.form-control .btn{border: 1px solid; padding: 14px 8px; border-radius: 0;}
        .bootstrap-select .dropdown-menu{max-width: 280px;}
        .bootstrap-select .dropdown-menu li.selected.active .dropdown-item.active.selected{margin-left: 0;padding: 0;}
    </style>
    <main>
        {% include '_alerts.html' %}
        <div class="page-title-with-or-without-btn">
            <div class="row">
                <div class="col text-center text-md-start"><strong>Reports</strong></div>
                <div class="col-lg-11 row gy-lg-0 gy-2">
                    <div class="col-lg-3 col-md-6 text-md-left text-center">
                        Please select a grower to download CSV
                    </div>
    
                    <div class="col-lg-4 col-md-6">
                        <form action="" method="post" class="">
                            {% csrf_token %}
                            <div class="inline-apply-filter justify-content-center justify-content-md-end">
                                <div class="three-fields-with-label">
                                    <select id="growerSelction" name="grower_id" class="mb-0 form-control selectpicker"
                                        style="border-radius:0px !important" data-live-search="true">
                                        <option value='all' selected> Select All Growers </option>
                                        {% for grower in growers %}
                                        {% if grower == selectedGrower %}
                                        <option selected value="{{ grower.pk }}">{{grower.name}} - {{grower.id}}
                                        </option>
                                        {% else %}
                                        <option value="{{ grower.pk }}">{{grower.name}} - {{grower.id}}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <input style="display : none;" id="submitBtn" type="submit"
                                    class="apply-filter-btn primary-btn" value="Apply Filter" />
                            </div>
                        </form>
                    </div>

                    <div class="col-lg-5 col-md-12 d-flex justify-content-center g-">
                        {% if selectedGrower %}
                            <a id="get_number" href="{% url 'reports_csv' selectedGrower.id %}"
                                class="btn-close-cancel btn-space no-wrap me-2"><span>CSV&nbsp;Export</span></a>
                        {% else %}
                    
                        <a  href="#"
                            style="pointer-events: none; border-radius:50px; background:#ccc; font-size: 16px; color:#eee;padding: 5px 35px;
                            font-size: 16px;
                            display: inline-flex;
                            align-items: center;
                            letter-spacing: .06rem;
                            transition: .2s all;" class="me-2"><span>CSV&nbsp;Export</span></a>
                    
                        <a href="{% url 'reports_csv_all' %}"
                            class="btn-close-cancel no-wrap btn-space"><span>Full Reports</span></a>
                    
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-padding">
            <div class="main-simple-table-with-search">
                <div class="simple-responsive-table" style="width: 100%; overflow:auto">
                    <table id=""
                        class="table table-striped table-bordered dt-responsive nowrap table-fixed grower-compare"
                        style="width: 100%">
                        <thead>
                            <tr style="border-bottom: 2px solid #e0e0e0">
                                <th>GROWER</th>
                                <th>FARM</th>
                                <th>FIELD</th>
                                <th>CROP</th>
                                <th>Contract Rcvd</th>
                                <th>Consultant</th>
                                <th>FSA</th>
                                <th>Survey 1</th>
                                <th>Survey 2</th>
                                <th>Survey 3</th>
                                <th>Survey Composite Score</th>
                                <th>ACREAGE</th>
                                <th>Field Eschlon ID</th>
                                <th>Field Shape Files</th>
                                <th>Storage Shape Files</th>
                                <th>Tissue 1</th>
                                <th>Tissue 2</th>
                                <th>Tissue 3</th>
                                <th>Water</th>
                                <th>Soil</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for field in fields %}
                            <tr>
                                <td>{{field.grower.name}}</td>
                                <td>{{field.farm.name}}</td>
                                <td>{{field.name}}</td>
                                <td>{{field.crop}}</td>
                                <td>
                                    {% if field.get_contract == 1 %}
                                    Yes
                                    {% else %}
                                    No
                                    {% endif %}
                                </td>
                                <td>{{field.get_consultant_name}}</td>
                                <td>{{field.fsa_field_number}}</td>
                                <td>
                                    {% if field.get_survey1 > 100 %}
                                    100
                                    {% else %}
                                    {{field.get_survey1}}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if field.get_survey2 > 100 %}
                                    100
                                    {% else %}
                                    {{field.get_survey2}}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if field.get_survey3 > 100 %}
                                    100
                                    {% else %}
                                    {{field.get_survey3}}
                                    {% endif %}
                                </td>
                                <td>
                                    <!-- {% if field.get_composite_score == 0 %}
                                    {% else %} -->
                                    {{field.get_composite_score}}
                                    <!-- {% endif %} -->
                                </td>
                                <td>{{field.acreage}}</td>
                                <td>{{field.eschlon_id}}</td>
                                <td>
                                    {% if field.get_field_shapefile == 1 %}
                                    Yes
                                    {% else %}
                                    No
                                    {% endif %}
                                </td>
                                <td>
                                    {% if field.get_storage_shapefile == 1 %}
                                    Yes
                                    {% else %}
                                    No
                                    {% endif %}
                                </td>
                                <td>
                                    {% if field.get_tissue_1 == 0 %}
                                    No
                                    {% else %}
                                    Yes x {{field.get_tissue_1}}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if field.get_tissue_2 == 0 %}
                                    No
                                    {% else %}
                                    Yes x {{field.get_tissue_2}}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if field.get_tissue_3 == 0 %}
                                    No
                                    {% else %}
                                    Yes x {{field.get_tissue_3}}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if field.get_water == 0 %}
                                    No
                                    {% else %}
                                    Yes
                                    {% endif %}
                                </td>
                                <td>
                                    {% if field.get_soil == 0 %}
                                    No
                                    {% else %}
                                    Yes
                                    {% endif %}
                                </td>
                                <td></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <!-- Pagination controls -->
                    <div class="row d-flex justify-content-center ">
                        <div class="col-md-12 col-sm-12 col-12 text-center mt-2">
                            <span>Showing {{ fields.start_index }} - {{ fields.end_index }} of {{ fields.paginator.count }} entries</span>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center align-items-center">
                        {% if fields.has_other_pages %}
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                <!-- Previous Page -->
                                {% if fields.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?grower_id={{ selectedGrower }}&page={{ fields.previous_page_number }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <span class="page-link" aria-hidden="true">&laquo;</span>
                                </li>
                                {% endif %}
                    
                                <!-- Page Numbers -->
                                {% for i in fields.paginator.page_range %}
                                {% if fields.number == i %}
                                <li class="page-item active">
                                    <span class="page-link">{{ i }}</span>
                                </li>
                                {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?grower_id={{ selectedGrower }}&page={{ i }}">{{ i }}</a>
                                </li>
                                {% endif %}
                                {% endfor %}
                    
                                <!-- Next Page -->
                                {% if fields.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?grower_id={{ selectedGrower }}&page={{ fields.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <span class="page-link" aria-hidden="true">&raquo;</span>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endblock content %}
        {% block scripts %}

        <script src="https://cdn.datatables.net/1.11.0/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.11.0/js/dataTables.bootstrap4.min.js"></script>
        <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
        <script src="https://cdn.datatables.net/responsive/2.2.9/js/responsive.bootstrap4.min.js"></script>
        <script src="{% static 'js/dataTables.buttons.min.js' %}"></script>
        <script src="{% static 'js/buttons.html5.min.js' %}"></script>

        <script>
            //     $(document).ready(function () {
            //     let data_table_odj = $('#checklistListtbl').DataTable({
            //         columnDefs: [ 
            //             { 

            //             }
            //         ],
            //         buttons: [ 
            //             { 
            //                 extend: 'csv', 
            //                 text: 'CSV EXPORT',
            //                 title: 'Reports - {% now "jS F Y" %}', 
            //                 className: "btn-export", 
            //                 exportOptions: { 
            //                     columns: 'th:not(:last-child)' 
            //                 } 
            //             } 
            //         ],
            //         "iDisplayLength": 100,
            //     });
            //     data_table_odj.buttons().container().appendTo('#Export_CSV');
            // });

            // function updatetext()
            // {

            //     document.getElementById("changetext").innerHTML = "Please Wait, extracting data";

            // }


            // const params = new URLSearchParams(document.location.href)
            // console.log(parseInt(params.get('page')))

            // var urlParams = new URLSearchParams(window.location.search);
            // var myParam = urlParams.get('page');

            // var num = document.getElementById('get_number')

            // num.setAttribute('href', `/documents/reports_csv/${myParam}/`)


            $(document).ready(function () {
                $('#growerSelction').change(function () {
                    $('#submitBtn').click();
                });

            });
        </script>
        <script>
            $('#Grower-Configuration-active').addClass('activeLink');
                  
            $('#Grower-Configuration-down').addClass('down');
            $('#Grower-Configuration-sub').show();
            
            $('#Report-Management').addClass('activeLink active-nav');
        </script>
        {% endblock scripts %}