{% extends "registration/auth_header.html" %}
{% load static %}
{% block title %} Reset Password
{% endblock title %}
{% block content %}
<div class="bg">
    <div class="box pt-5">
        <h3 class="text-center1">Reset Password</h3><br>
		<p class="sent-msg-p">We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
        <p class="sent-msg-p">If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
		<a class="back-to-login" href="{% url 'login' %}">Back to login page</a>
    </div>
</div>
{% endblock content %}