{% extends "registration/auth_header.html" %} 
{% load static %} 
{% block title %} Reset Password 
{% endblock title %}
{% block content %}
<div class="bg">
    <form action="" method="POST"> {% csrf_token %}
    <div class="box pt-5">
        <h3 class="text-center1">Reset Password</h3><br>
   
        <div class="form-outline" style="border-radius:50px">
            <div id="div_username" class="form-group">
 
                 <label for="email" class=" requiredField" style="margin-left: 0px;">Enter Email<span class="asteriskField">*</span> </label>
                 <div class="">
                   <input type="email" name="email" autofocus="" autocapitalize="none" autocomplete="email" maxlength="150" class="textinput textInput form-control" required="" id="email">
                 </div>
 
               </div>
         </div>
        <button class="btn1 mt-4" type="submit">Submit</button>
        {% comment %} <h6 class="sign-up-head mt-3" style="font-size:15px;">Dont's have an account &nbsp;<a href="{% url 'signup' %}" class="sign">sign up</a></h6> {% endcomment %}

    </div>

</div>





{% endblock content %}