{% extends "base.html" %}
{% load static %} {% block title %} Update Comment {% endblock title %} {% block content %}
{% include 'navbar.html' %}
<div class="main-content">
    {% include 'header.html' %}

<!-- MID CONTENT -->

<main> 
    <span class="farm headingtop">Update Comment</span>
    <div class="card farm-fields-container">
        <div class="container-fluid">
            <form method="post" action="{% url 'upcoming-date-update-save' %}" class="farm-fields-form" name="updateComment" id="updateComment" style="padding:5px 15px;">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                        <div id="div_id_note" class="form-group">
                            <label for="note">
                                Comment
                            </label>
                            <div class="">
                                <textarea name="note" id="note" class="form-control" placeholder="Enter here" style="min-height: 88px;" required>{{upcoming_date_data.description}}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="div_id_showdate" class="form-group">
                            <label for="showdate">
                                Date
                            </label>
                            <div class="">
                                <input type="date" name="showdate" id="showdate" value="{{upcoming_date_data.show_date|date:"Y-m-d"}}" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="div_id_status" class="form-group">
                            <label for="status">
                                Status
                            </label>
                            <div class="">
                                <select name="status" class="select form-control" id="status" required>
                                    <option value="1" {% if upcoming_date_data.status == 1 %}selected{% endif %} >Active</option> 
                                    <option value="0" {% if upcoming_date_data.status == 0 %}selected{% endif %}>Inactive</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-btn-row">
                            <input type="hidden" name="note_id" id="note_id" value="{{upcoming_date_data.id}}">
                            <input type="submit" name="create_note" id="create_note" class="btn-save-submit" value="Save Comment">
                        </div>
                    </div>
                </div>
            </form>   
        </div>
    </div>
</main>
<!-- MID CONTENT END-->
  <!-- end -->
  <!-- Add Que Popup -->
{% include 'footer.html' %}
</div>
{% endblock %}
{% block jquery %}
<script>
    $('#Setting-Configuration-active').addClass('activeLink');
  
    $('#Setting-Configuration-down').addClass('down');
    $('#Setting-Configuration-sub').show();
  
    $('#Upcoming-Dates').addClass('activeLink active-nav');
  
  </script>
{% endblock jquery %}