{% extends "base.html" %} {% load static %} {% block title %} Gallery {% endblock title %} {% block content %} {% include "navbar.html" %}

<input hidden for="" id="defaultGrower" value={{grower_name}}>
<div class="main-content">
    {% include 'header.html' %}
    
    <main>
    {% include '_alerts.html' %}
        <div class="page-title-with-or-without-btn">
            <span class="farm headingtop">Gallery</span>

            <div class="flex-header-btn">
                {% if not user.is_super_user %}
                <a href="{% url 'gallery-create' %}" class="btn-save-submit">Upload</a>
                {% endif %}
            </div>
        </div>

        <div class="main-filter-document">
            <div class="rightbox2">
                <div class="gallery-container iconbox">

                    <form action="" method="POST"> {% csrf_token %}
                        <div class="row">

                         
                                {% if user.is_superuser %}
                                <div class="col-lg-3">
                                <div class="three-fields-with-label">
                                    <label for="grower">Grower</label>
                                    <select name="grower" id="grower-selection" onchange="updateGrowerData()" style="border-radius:5px;">

                                {% for grower in grower_list %}
                                    {% if grower.pk == selected_grower %}
                                    <option value={{grower.pk}} selected>{{grower.name}}</option>
                                    {% else %}
                                        <option value="{{grower.pk}}">{{grower.name}}</option>
                                    {% endif %}

                                {% endfor %}
                                </select>
                                </div>
                            </div>
                                {% endif %}
                           

                            <div class="col-lg-3">
                                <!--For Farm multiselect dropdown list Start-->
                                <div class="three-fields-with-label">
                                    <label for="farm">Farm</label>
                                    <select name="farm" id='myselection_farm' multiple>
                {% for farm in farm_list %}
                    {% if farm.pk in selected_farm_list%}
                    <option value="{{farm.pk}}" selected>{{farm.name}}</option>
                    {% else %}
                    <option value="{{farm.pk}}">{{farm.name}}</option>
                    {% endif %}
                {% endfor %}
                </select>
                                </div>
                            </div>

                            <!--For Farm multiselect dropdown list End-->

                            <div class="col-lg-3">
                                <!--For Field multiselect dropdown list Start-->
                                <div class="three-fields-with-label">
                                    <label for="field">Field</label>
                                    <select name="field" id='myselection_field' multiple>
                {% for field in field_list %}
                    {% if field.id in selected_field_list%}
                    <option value="{{field.id}}" selected>{{field.name}}</option>

                    {% else %}
                    <option value="{{field.id}}">{{field.name}}</option>

                    {% endif %}
                    {% endfor %}
                </select>
                                </div>

                                <!--For Field multiselect dropdown list End-->
                            </div>

                            <div class="col-lg-3">
                                <!--For Survey Type multiselect dropdown list Start-->

                                <div class="three-fields-with-label">
                                    <label for="survey-type">Survey Type</label>
                                    <select name="survey_type" id='myselection_survey_type' multiple>
{% for survey_type_name in survey_type_list %}
       {% if survey_type_name.pk in selected_survey_type %}
       <option value="{{survey_type_name.pk}}" selected>{{survey_type_name.name | cut:"SmartRice"}}</option>
       {% else %}
       <option value="{{survey_type_name.pk}}">{{survey_type_name.name | cut:"SmartRice"}}</option>
       {% endif %}
{% endfor %}
   </select>
                                </div>
                                <!--For Survey Type multiselect dropdown list End-->


                            </div>

                            <div class="col-lg-3">
                                <!--For Survey Type multiselect dropdown list Start-->
                                <div class="three-fields-with-label">
                                    <label for="year">Year</label>
                                    <select name="year" id='myselection_year_type' multiple>
{% for year in year_list %}
{% if year in selected_year_list %}
<option value="{{year}}" selected>{{year}}</option>
{% else %}
<option value="{{year}}">{{year}}</option>
{% endif %}
{% endfor %}
</select>
                                </div>
                                <!--For Survey Type multiselect dropdown list End-->
                            </div>

                            <div class="col-lg-12 mt-4">
                                <div class="both-btn-flex right-end">

                                    <button class="btn-close-cancel btn-space" name="btn" value="files" type="submit" onclick="docgreen" id="docbutton">Documents</button>
                                    <button class="btn-close-cancel" name="btn" value="photos" type="submit" onclick="openPage('Contact', this, '#008000')" id="imgbutton">Photos</button>
                                </div>
                            </div>

                        </div>
                    </form>

                    </a>
                </div>
            </div>

        </div>

        {% if display == 'photos' %}
        <div class="card gallery-cards" id='all-images'>
            <div class="share-btn-right">
                <button id="multisharebtn" data-mdb-toggle="modal" data-mdb-target="#multishare" class="btn-save-submit">Share</button>
            </div>
            <div class="container-fluid">
                <div class="row" id="News">

                    {% for photo in object_list %} {% if photo.file.url %} {% if forloop.first %}
                    <div class="row mt-3">
                        {% endif %}

                        <div class="col-lg-2 col-md-2">
                            <div class="text-center for-image">
                                <div class="for-gallery-select-div">
                                    {% comment %} <label class="cont for-gallery-select"> {% endcomment %}
                                <input type="checkbox" class="checkboxinput form-check-input photocheckbox" autocompleted="" id="PK-{{photo.id}}" name="photo-select" value={{photo.id}}>
                                {% comment %} <span class="checkmark"></span> {% endcomment %}
                                {% comment %} </label> {% endcomment %}
                                </div>

                                {% comment %} <input class="photocheckbox" type="checkbox" id="PK-{{photo.id}}" name="photo-select" value={{photo.id}}> {% endcomment %}
                                <a href="#" data-mdb-toggle="modal" data-mdb-target="#exampleModal{{photo.pk}}">
                                    <img src="{{photo.file.url}}" class="img-thumbnail gallery-photos">
                                </a>
                                <p> {{ photo.file|upper|slice:"13:30"}} </p>

                            </div>
                        </div>

                        {% if forloop.last %}
                    </div>
                    {% endif %} {% endif %} {% endfor %}
                </div>
            </div>
        </div>

        {% endif %}
        <!-- For displaying files in thumbnail-->
        {% if display == 'files' %}

        <div class="card gallery-cards sect-filleter" id="all-files">
            <div class="share-btn-right">
                <button id="multisharebtn" data-mdb-toggle="modal" data-mdb-target="#multishare" class="btn-save-submit">Share</button>
            </div>
            <div class="container-fluid">
                <div class="row" id="News">

                    {% for obj in object_list %} {% if obj.file.url %} {% if forloop.first %} {% endif %}
                    <div class="col-lg-2 col-md-2">
                        <div class="text-center for-image">
                            <div class="for-gallery-select-div">
                                {% comment %} <label class="cont for-gallery-select"> {% endcomment %}
                                <input type="checkbox" class="checkboxinput form-check-input photocheckbox" autocompleted="" id="PK-{{obj.id}}" name="photo-select" value={{obj.id}}>
                                {% comment %} <span class="checkmark"></span> {% endcomment %}
                                {% comment %} </label> {% endcomment %}
                            </div>



                            <a href="#" data-mdb-toggle="modal" data-mdb-target="#exampleModal{{obj.id}}">
                                {% if obj.file.url|lower|slice:"-5:" == ".docx" or obj.file.url|lower|slice:"-4:" == ".doc" %}
                                    <img src="{% static 'img/word_icon.png' %}" class="img-thumbnail gallery-photos">
                                {% elif obj.file.url|lower|slice:"-5:" == ".xlsx" or obj.file.url|lower|slice:"-4:" == ".xls" %}
                                    <img src="{% static 'img/xls_icon.png' %}" class="img-thumbnail gallery-photos">
                                {% elif obj.file.url|lower|slice:"-4:" == ".pdf" %}
                                    <img src="{% static 'img/pdf_icon.png' %}" class="img-thumbnail gallery-photos">                                
                                {% else %}
                                    <img src="{% static 'img/doc_icon.png' %}" class="img-thumbnail gallery-photos">
                                {% endif %}

                                </a>
                            <p> {{ obj.file.name|upper|slice:"13:30"}}</p>
                        </div>
                    </div>
                    {% if forloop.last %}

                </div>
                {% endif %} {% endif %} {% endfor %}

            </div>
        </div>

        {% endif %}

    </main>
    {% include 'footer.html' %}
</div>
<!--Model Form for Photos Start-->
{% if display == 'photos' %} {% for photo in object_list %}
<div class="modal fade" id="exampleModal{{photo.id}}" tabindex="-1" aria-labelledby="exampleModal{{photo.id}}Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content m-content">
            <div class="modal-header modal-border">
                <h5 class="modal-title foraddd titlepad" id="exampleModal{{photo.id}}Label">Image Details</h5>
                <button type="button" class="btn-close custumclose" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div classs="container">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="imagebox">
                                <img src="{{photo.file.url}}" class="gallery-image-select">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="formbox">
                                <table class="table table-striped table-docs-info">
                                    <tr>
                                        <td>Grower</td>

                                        <td>{{photo.gallery.grower.name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Farm</td>

                                        <td>{{photo.gallery.farm.name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Field</td>

                                        <td>{{photo.gallery.field.name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Survey Type</td>

                                        <td>{{photo.gallery.survey_type.name}}</td>
                                    </tr>
                                    <tr>
                                        <td>File Name</td>

                                        <td>{{ photo.file.name|upper|slice:"13:50"}}</td>
                                    </tr>

                                </table>

                            </div>

                        </div>
                        <div class="col-md-12 mt-2">
                            <div class="triple-btn-flex">
                                <button class="btn-close-cancel btn-space" data-mdb-dismiss="modal" aria-label="Close">Cancel</button>
                                <a href="{{photo.file.url}}" download="{{photo.file.url}}" class="btn-save-submit btn-space">Download</a>
                                <button class="btn-save-submit" data-mdb-toggle="modal" data-mdb-target="#ShareModal1" onclick="photoshare('{{photo.id}}')">Share</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %} {% endif %}
<!--Model Form for Photos End-->

<!--Model Form for Files Start-->
{% if display == 'files' %} {% for obj in object_list %}
<div class="modal fade" id="exampleModal{{obj.id}}" tabindex="-1" aria-labelledby="exampleModal{{obj.id}}Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content m-content">
            <div class="modal-header modal-border">
                <h5 class="modal-title foraddd titlepad" id="exampleModal{{obj.id}}Label">File Details</h5>
                <button type="button" class="btn-close custumclose" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div classs="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="imagebox imagebox2">
                                {% if obj.file.url|lower|slice:"-5:" == ".docx" or obj.file.url|lower|slice:"-4:" == ".doc" %}
                                <img src="{% static 'img/word_icon.png' %}" class="img-thumbnail" alt="..."> {% elif obj.file.url|lower|slice:"-5:" == ".xlsx" or obj.file.url|lower|slice:"-4:" == ".xls" %}
                                <img src="{% static 'img/xls_icon.png' %}" class="img-thumbnail" alt="..."> {% elif obj.file.url|lower|slice:"-4:" == ".pdf" %}
                                <img src="{% static 'img/pdf_icon.png' %}" class="img-thumbnail" alt="..."> {% else %}
                                <img src="{% static 'img/doc_icon.png' %}" class="img-thumbnail" alt="..."> {% endif %}
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="formbox">
                                <table class="table table-striped table-docs-info">
                                    <tr>
                                        <td>Grower</td>

                                        <td>{{obj.gallery.grower.name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Farm</td>

                                        <td>{{obj.gallery.farm.name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Field</td>

                                        <td>{{obj.gallery.field.name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Survey Type</td>

                                        <td>{{obj.gallery.survey_type.name}}</td>
                                    </tr>
                                    <tr>
                                        <td>File Name</td>

                                        <td>{{obj.file.name|upper|slice:"13:51"}}</td>
                                    </tr>

                                </table>
                            </div>

                        </div>

                        <div class="col-md-12 mt-4">

                            <div class="triple-btn-flex">
                                <button class="btn-close-cancel btn-space" data-mdb-dismiss="modal" aria-label="Close">Cancel</button>
                                <a href="{{obj.file.url}}" download="{{obj.file.url}}" class="btn-save-submit btn-space">Download</a>
                                <button class="btn-save-submit" data-mdb-toggle="modal" data-mdb-target="#ShareModal1" onclick="photoshare('{{obj.id}}')">Share</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %} {% endif %}
<!--Model Form for Files End-->

<!-- Model Farm for Share popup Start-->


<div class="modal fade maindivemail mailbox-popup custom-ds-modal-mail" id="ShareModal1" tabindex="-1" aria-labelledby="ShareModal1" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="email-sharemail-cust-modal">
                    <button type="button" class="btn-close cust-close-ds-btn" data-mdb-dismiss="modal" aria-label="Close"></button>
                    <div classs="container">
                        <div class="row">
                            <div class="col-lg-12">

                                <h5 id="EmailPopTitle" class="modal-title titlepad custom-changetitle">Please provide one or more Email ID separated by comma</h5>

                            </div>
                            <div class="col-md-12">
                                <input type="email" id="inputemail" class="a11">
                            </div>
                            <div class="col-md-12">
                                <input hidden id="recordid" value="">

                                <label id="remarkLabelSingleShare" for="" class="label-remark">Remark </label>
                                <textarea name="remark" id="remarkTextSingleShare" cols="30" rows="3" class="remarkMsg"></textarea>
                                <div class="loader-contain">
                                    <img id="loader" style="display : none;" src="{% static 'img/loader.gif' %}" width="100" height="100" alt="loading..." >
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="center-btn-flex">


                                    <button id="EmailPopCloseBtn" class="btn close-mail-btn" data-mdb-dismiss="modal" aria-label="Close">Cancel</button>
                                    <input type="submit" id="emailsend" class="btn send-email-btn mr-2" value="Send">

                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Model Farm for Share popup End-->


<!--Multishare model popup start-->

<div class="modal fade maindivemail mailbox-popup custom-ds-modal-mail" id="multishare" tabindex="-1" aria-labelledby="ShareModal1" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">

                <button type="button" class="btn-close cust-close-ds-btn" data-mdb-dismiss="modal" aria-label="Close"></button>
                <div classs="container">
                    <div class="row">
                        <div class="col-lg-12" style="text-align: center;">
                            <img src="{% static 'img/warning.png' %}" alt="warning" id="warningImg" class="warning-icon">
                            <img src="{% static 'img/wrong.png' %}" alt="wrong" id="wrongImg" class="warning-icon">
                            <img src="{% static 'img/right.png' %}" alt="right" id="rightImg" class="warning-icon">

                            <p id="MultiSharePopTitle" class="modal-title titlepad custom-changetitle">Please provide one or more Email ID separated by comma</p>

                        </div>
                        <div class="col-md-12">
                            <input type="email" id="inputmultiemail" class="a11">
                        </div>

                        <div class="col-md-12">
                            <input hidden id="recordid" value="">

                            <label id="remarkLabel" for="" class="label-remark">Remark</label>
                            <textarea name="remark" id="remarkText" cols="30" rows="3" class="remarkMsg"></textarea>

                        </div>

                        <div class="col-md-12" style="text-align:center;">

                            <input type="hidden" id="multipkid" value="">
                            <div class="loader-contain">
                                <img id="multiloader" style="display : none;" src="{% static 'img/loader.gif' %}" width="100" height="100" alt="Loader...">
                            </div>
                            <button id="MultiEmailPopCloseBtn" class="btn-close-cancel btn-space" data-mdb-dismiss="modal" aria-label="Close">Cancel</button>
                            
                            <input type="submit" id="multiemailsend" class="btn send-email-btn mr-2" value="Send">

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<!--Multishare model popup end-->


<script type="text/javascript" src="{% static 'js/multiselect.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/gallery/gallery.js' %}"></script>

{% endblock content %} {% block jquery %}
<script type="text/javascript" src="{% static 'js/gallery/galleryJQuery.js' %}"></script>
{% endblock jquery %}
