{% extends "base.html" %}
{% load static %}
{% block title %} Add Volume Pulled {% endblock title %}

{% block extrahead %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y3EWVPF7PQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Y3EWVPF7PQ');
</script>
{% endblock extrahead %}

{% block content %}
{% include 'navbar.html' %}
<div class="main-content">
    
    {% include 'header.html' %} {% load crispy_forms_tags %}
    <main>
        <span class="farm headingtop">Add Volume Pulled</span>
        <div class="card farm-fields-container">
            {% include '_alerts.html' %}
            <div class="container-fluid">
                <form method="post" class="farm-fields-form">
                    {% csrf_token %}
                    <div class="row" style="margin-bottom:10px">
                        {% if request.user.is_processor %}
                        {% else %}
                        <div class="col-md-6 mb-2">
                            <label for="id_processor">Processor<span class="asteriskField">*</span></label>
                            <select id="id_processor" name="id_processor" class="textinput textInput form-control"
                                style="width: 100%;padding-left:10px ;" required>
                                <option value='all'>Select Processor</option>
                                {% for processor in get_processor %}
                                {% if processor == selectedProcessor %}
                                <option value="{{ processor.pk }}" selected>{{processor.entity_name}} - {{processor.pk }}</option>
                                {% else %}
                                <option value="{{ processor.pk }}">{{processor.entity_name}} - {{processor.pk }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <input id="submitBtn2" type="submit" class="btn-save-submit" value="Save" style="display: none;">
                        {% endif %}
                        <div class="col-md-6 mb-2">
                            <label for="id_storage"><strong>Total Rice Volume</strong></label>
                            <div style="padding: 10px 5px;font-size: 18px;">{{total_receive_weight}}</div>
                            <input type="text" name="" id="total_receive_weight_java" style="display: none;" value="{{total_receive_weight_java}}">
                        </div>
                        <hr class="mt-2">
                        <div class="col-md-6 mb-2">
                            <label for="id_date">Date Pulled<span class="asteriskField">*</span></label>
                            <input type="date" name="id_date" id="id_date" class="textinput textInput form-control">
                            <p id="alert_msg0" style="color:red"></p>
                        </div>
                        <div class="col-md-6 mb-2">
                            <div>
                                <label for="bin_location">Bin Location Pulled From</label>
                                <input type="text" id="bin_location" name="bin_location" class="textinput textInput form-control">
                                    
                            </div>
                        </div>

                        <div class="col-md-4 mb-2">
                            <div>
                                <label for="volume_pulled">Volume Pulled<span class="asteriskField">*</span></label>
                                <input type="number" name="volume_pulled" class="textinput textInput form-control" id="volume_pulled">
                                <p id="alert_msg" style="color:red"></p>
                            </div>
                        </div>
                        <div class="col-md-4 mb-2">
                            <label for="milled_volume">Milled Volume<span class="asteriskField">*</span></label>
                            <input type="number" name="milled_volume" class="textinput textInput form-control" id="milled_volume">
                            <p id="alert_msg3" style="color:red"></p>
                        </div>
                        <div class="col-md-4 mb-2">
                            <label for="milled_storage_bin">Milled Storage Bin<span class="asteriskField">*</span></label>
                            <input type="text" name="milled_storage_bin" class="textinput textInput form-control" id="milled_storage_bin">
                            <p id="alert_msg2" style="color:red"></p>
                        </div>
                        

                    </div>
                    <div class="row">
                        <div class="form-btn-row">
                            <a href="{% url 'inbound_production_mgmt' %}" class="btn-close-cancel btn-space">Cancel</a>
                            <input onclick="cal_total_pulled()" type="button" class="btn-save-submit" value="Save">
                            <input style="display: none;" id="hide_btn1" type="submit" class="btn-save-submit" value="Save">
                                
                        </div>
                    </div>
                </form>

            </div>
        </div>


    </main>
    {% include 'footer.html' %}
</div>
{% endblock %}

{% block jquery %}
<script>
    
    $(document).ready(function() {
    $('#id_processor').change( function () {
    $('#submitBtn2').click();
    });
    });

    
</script>
<script>
    function cal_total_pulled(){
        var final_total_volume = $("#total_receive_weight_java").val();
        
        var volume_pulled = $("#volume_pulled").val();
        var id_date =  $("#id_date").val();
        var milled_storage_bin = $("#milled_storage_bin").val();
        var milled_volume = $("#milled_volume").val();
        
        if(id_date!='' && volume_pulled!='' && milled_storage_bin!='' && milled_volume!='')
        {
            if (parseFloat(final_total_volume) >= parseFloat(volume_pulled) )
            {
            document.getElementById('alert_msg').innerHTML = "";
            $('#hide_btn1').click();
            }
            else{
                document.getElementById('alert_msg').innerHTML = "Pulled volume can't more than total Milled Volume";   
            }
        }
        else{
            if(id_date==''){
            document.getElementById('alert_msg0').innerHTML = "Date can't be blank";
            }
            else{
                document.getElementById('alert_msg0').innerHTML = "";  
            }
            if(milled_storage_bin==''){
                
                document.getElementById('alert_msg2').innerHTML = "Milled Storage Bin is Mandatory";
            }
            else{
                document.getElementById('alert_msg2').innerHTML = "";  
            }
            if(milled_volume==''){
                
                document.getElementById('alert_msg3').innerHTML = "Milled Volume is Mandatory";
            }
            else{
                document.getElementById('alert_msg3').innerHTML = "";  
            }


            if(volume_pulled==''){
                document.getElementById('alert_msg').innerHTML = "Pulled volume can't be blank";
            }  
            else
            {
                if(parseFloat(final_total_volume) <= parseFloat(volume_pulled)){
                    document.getElementById('alert_msg').innerHTML = "Pulled volume can't more than total Milled Volume";
                }
                else{
                    document.getElementById('alert_msg').innerHTML = "";
                }
                
            }
        }

        
      
    }

    // function cal_total_pulled(){
    //     var final_total_volume = $("#total_receive_weight_java").val();
    //     var volume_pulled = $("#volume_pulled").val();
    //     var id_date = $("#id_date").val();
        
    //     if (parseFloat(final_total_volume) >= parseFloat(volume_pulled)){
    //         document.getElementById('alert_msg').innerHTML = "";
    //         $('#hide_btn1').click();
    //     }
    //     else{
            
    //         document.getElementById('alert_msg').innerHTML = "Pulled volume can't be blank or more than total rice volume";
    //     }
    //     if (id_date == ''){
    //         document.getElementById('alert_msg0').innerHTML = "Date can't be blank";
    //     }
    //     else{
    //         document.getElementById('alert_msg0').innerHTML = "";
    //     }
    // }
</script>
<script>
    $('#Processor-active').addClass('activeLink');
  
    $('#Processor-down').addClass('down');
    $('#Processor-sub').show();
  
    $('#Production-Management').addClass('activeLink active-nav');
  
  </script>
{% endblock jquery %}