{% extends "base.html" %}
{% load static %} {% block title %} Grower's Field and Storage {% endblock title %} {% block content %}
{% include 'navbar.html' %}
<div class="main-content">
    {% include 'header.html' %}
    <style>
        #map-canvas{
        height: calc(100vh - 260px);
        width: 100%;
    }
    </style>
<main>
    <div class="page-title-with-or-without-btn">
        <span class="farm headingtop">Grower's Field and Storage</span>
        <!-- Create button for Account-->
        <!-- <div class="flex-header-btn">
          <div class="flex-header-btn-col">
            {% if 'Farm Edit' in request.user.get_role_perm or request.user.is_superuser %}
            <a href="{% url 'csv-farm-create' %}" class="btn btn-black btn-rounded btn-small">Create Farm via CSV</a>
            {% endif %}
          </div>
          <div class="flex-header-btn-col">
            {% if 'Farm Edit' in request.user.get_role_perm or request.user.is_superuser %}
            <a href="{% url 'farm-create' %}" class="btn btn-black btn-rounded btn-small">Create Farm</a>
            {% endif %}
          </div>
        </div> -->
      </div>
      <div class="card card-padding">
        <!-- Tab panes -->
          <div class="table-filter-row d-flex align-items-center" style="margin-bottom: 30px;">
            <div class="table-filter-col d-flex align-items-center">
              <select class="select250 mt-0" name="savings" style="border-radius:5px;" id="grower_map_id" onchange="grower_map()">
                <option value="0">Select All</option>
                {% for grower in get_growers %}
                <option value="{% url 'grower_map_to_processor' grower.id %}" {% if selected_grower == grower.id %}selected{% endif %}>{{grower.name}}-{{grower.id}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="table-filter-col ml-auto">
              <ul class="nav nav-tabs">
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'grower_processor_management' %}">
                      <img src="/static/img/tbIcon-b-1.svg" class="tbIcon tbIcon-b">
                      <img src="/static/img/tbIcon-w-1.svg" class="tbIcon tbIcon-w">
                      </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="#">
                        <img src="/static/img/tbIcon-b-2.svg" class="tbIcon tbIcon-b">
                        <img src="/static/img/tbIcon-w-2.svg" class="tbIcon tbIcon-w">
                      </a>
                  </li>
              </ul>
          </div>
          </div>
          <div id="map-canvas" ></div>
        </div>
    </main>
    </div>
    {% include 'footer.html' %}
    </div>
    {% endblock %}
    {% block scripts %}
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyBA6EZ3fYAqY3DEG1Z4MFvayhIxIRCacx8"></script>
    {% endblock scripts %}
    {% block jquery %}
    <script>
      function initialize() {
       var mapOptions = {
           zoom: 5,
           center: new google.maps.LatLng(40,-117),
           mapTypeId: google.maps.MapTypeId.HYBRID
       };
   
       var map = new google.maps.Map(document.getElementById('map-canvas'),  mapOptions);
       var arr = new Array();
       var polygons = [];
       var bounds = new google.maps.LatLngBounds();
       var infoWindow = google.maps.InfoWindow;
   
       var xmlString = '{{polydata_n | safe}}';
       var xmlString1 = '{{polydata_n1 | safe}}';
       var xml = xmlParse(xmlString);
       var xml1 = xmlParse(xmlString1);
       var subdivision = xml.getElementsByTagName("subdivision");
       var subdivision1 = xml1.getElementsByTagName("subdivision");
       const image ="{% static 'img/pointer-22.png' %}";
       
       for (var i =0; i < subdivision1.length; i++){
           var pointer_id = subdivision1[i].getAttribute("pointerId");
           if(pointer_id){
             var coordinates = xml1.documentElement.getElementsByTagName("subdivision")[i].getElementsByTagName("coord");
             for (var j=0; j < coordinates.length; j++) {
               var marker = new google.maps.Marker({
                 position: {
                     lat: parseFloat(coordinates[j].getAttribute("lat")),
                     lng: parseFloat(coordinates[j].getAttribute("lng"))
                   },
                   map: map,
                   icon: image,
                   title: subdivision1[j].getAttribute("name"),
               })
               
             }    
         }   
       }
       for (var i = 0; i < subdivision.length; i++) {
           var poly_name = subdivision[i].getAttribute("name");
           var field_id = subdivision[i].getAttribute("fieldId");
           var storage_id = subdivision[i].getAttribute("storageId");
           
           arr = [];
           var coordinates = xml.documentElement.getElementsByTagName("subdivision")[i].getElementsByTagName("coord");
           for (var j=0; j < coordinates.length; j++) {
             arr.push( new google.maps.LatLng(
                   parseFloat(coordinates[j].getAttribute("lat")),
                   parseFloat(coordinates[j].getAttribute("lng"))
             ));
               
             bounds.extend(arr[arr.length-1])
           }
           
           if(storage_id == null){
             polygons.push(new google.maps.Polygon({
               paths: arr,
               strokeColor: 'cyan',
               strokeOpacity: 1,
               strokeWeight: 2,
               fillColor: 'cyan',
               fillOpacity: 0.50,
               name: poly_name,
               field_id: field_id
           }));
           }else{
             polygons.push(new google.maps.Polygon({
               paths: arr,
               strokeColor: 'red',
               strokeOpacity: 1,
               strokeWeight: 2,
               fillColor: 'red',
               fillOpacity: 0.50,
               name: poly_name,
               field_id: storage_id
           }));
           }
           
           
           polygons[polygons.length-1].setMap(map);
           infoWindow = new google.maps.InfoWindow();
           google.maps.event.addListener(polygons[polygons.length-1], 'mouseover', function(e) {
                 //console.log(e.latLng.lat());
                 
                 let contentString = '<b>' + this.name + '</b>';
                 
                 infoWindow.setContent(contentString);
                 infoWindow.setPosition(e.latLng);
                 infoWindow.open(map);
           });
           if(storage_id == null){
             google.maps.event.addListener(polygons[polygons.length-1], 'click', function(e) {
                   //console.log(e.latLng.lat());
                   
                   window.open("/field/field_location_map/vegetation/" + this.field_id, "_self");
             });
 
           }else{

             
           }
       }
     map.fitBounds(bounds);
   }

   function getRandomColor() {
     var letters = '0123456789ABCDEF';
     var color = '#';
     for (var i = 0; i < 6; i++) {
       color += letters[Math.floor(Math.random() * 16)];
     }
     return color;
   }
   
   
   
   /**
    * Parses the given XML string and returns the parsed document in a
    * DOM data structure. This function will return an empty DOM node if
    * XML parsing is not supported in this browser.
    * @param {string} str XML string.
    * @return {Element|Document} DOM.
    */
   function xmlParse(str) {
     if (typeof ActiveXObject != 'undefined' && typeof GetObject != 'undefined') {
       var doc = new ActiveXObject('Microsoft.XMLDOM');
       doc.loadXML(str);
      return doc;
     }
   
     if (typeof DOMParser != 'undefined') {
       return (new DOMParser()).parseFromString(str, 'text/xml');
     }
   
     return document.createElement('div', null);
   }
   
   google.maps.event.addDomListener(window, 'load', initialize);
   </script>

 <script>
     $('#grower_drop').on('change', function(e){
         var grower_id = $(this).val();
         window.location.href = "/farms/all_farms_location_map_view/" + grower_id + "/";
     });
 </script>

<script>
$('#grower_map_id').change( function() {
      var redirect_val = $(this).val();
      window.location = redirect_val;
     
   });
</script>

{% endblock jquery %}