{% extends "base.html" %} {% load static %}
{% block title %} Classing Reports {% endblock title %}

{% block extrahead %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y3EWVPF7PQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Y3EWVPF7PQ');
</script>
{% endblock extrahead %}

{% load crispy_forms_tags %}
{% block content %}
{% include 'navbar.html' %}

<div class="main-content">
    {% include 'header.html' %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.0/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedcolumns/4.2.1/css/fixedColumns.dataTables.min.css">
    <style>
      .dataTables_scrollHead,
        .dataTables_scrollBody,
        .dataTables_scrollFoot {
            width: 100% !important;
        }
    </style>
    <main>
        {% include '_alerts.html' %}
        <div class="page-title-with-or-without-btn">
            <span class="farm headingtop">Classing Reports</span>
            <!-- Create button for add-processor-->
            <div class="flex-header-btn">
              {% if 'Processor' in request.user.get_role and not request.user.is_superuser %}
              <a href="{% url 'classing_csv_list' %}" class="btn-close-cancel">Classing Table</a>
              {% else %}
              <a href="{% url 'classing_csv_list' %}" class="btn-close-cancel">Classing Table</a>
              {% endif %}
              &nbsp;
              <a href="{% url 'classing_upload' %}" class="btn-close-cancel">Upload Classing CSV </a>
              &nbsp;
              <a href="{% url 'classing_upload_via_dat' %}" class="btn-close-cancel">Upload Classing DAT</a>

            </div>
        </div>
        <div class="card card-padding">
            <div class="main-simple-table-with-search">
                <div class="both-data-in" style="display: inherit;">
                    <div class="simple-responsive-table">
                      <table id="processorList_tbl" class="table table-striped dt-responsive nowrap display" style="width:100%">
                        <thead>
                            <tr style="border-bottom: 2px solid #e0e0e0;">
                                <th width="10%">Processor</th>
                                <th width="10%">Grower</th>
                                <th width="10%">Field Name</th>
                                <th width="30%">File Name</th>
                                <th width="10%">Upload Date</th>
                                <th width="20%">Report Type</th>
                                <th width="10%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if cr %}
                                {% for i in cr %}
                                    <tr>
                                        <td>{{ i.entity_name }}</td>
                                        <td>{{ i.grower_name }}</td>
                                        <td>{{ i.field_name }}</td>
                                        <td>{{ i.csv_path }}</td>
                                        <td>{{ i.upload_date }}</td>
                                        <td>{{ i.csv_type }}</td>
                                        <td class="backk action-td">
                                            <ul style="height: 65px;">
                                                <li>
                                                    <a href="{{ i.csv_download_path }}" alt="download" title="download"><span class="fas fa-download"></span></a>
                                                </li>
                                                {% if 'Processor' in request.user.get_role and not request.user.is_superuser %}
                                                {% else %}
                                                <li>
                                                    <a href="{% url 'classing_edit' i.id %}" alt="edit" title="edit"><span class="fas fa-edit"></span></a>
                                                </li>
                                                {% endif %}
                                                <li>
                                                    <a href="{% url 'classing_csv_list_grower' i.id %}" alt="view" title="view"><span class="fas fa-eye"></span></a>
                                                </li>
                                                <li>
                                                    <a onclick="delreport('{% url 'classing_delete' i.id %}')" href="{% url 'classing_delete' i.id %}"
                                                       data-mdb-toggle="modal" data-mdb-target="#deleteModal" alt="delete" title="delete">
                                                        <span class="fas fa-trash"></span></a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td class="text-center" colspan="7">No data available in table</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>                       
                    </div>
                </div>
            </div>

    </main>
    {% include 'footer.html' %}
</div>

<!-- Delete Popup -->
<div class="modal fade" id="deleteModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel22" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <div class="modal-body">
          <button type="button" class="btn-close cust-close-ds-btn" data-mdb-dismiss="modal" aria-label="Close"></button>
          <div class="center-content-status">
            <img src="{% static 'img/trash.png' %}" alt="right" id="rightImg" class="warning-icon">
            <p id="message" class="modal-title titlepad">Are you sure you want to delete?</p>
          </div>
          <div class="modal-center-btn-footer">
            <button onclick="reloadwindow()" id="closeBtnpopup" type="button" class="btn-close-cancel btn-space"
              data-mdb-dismiss="modal">
              Close
            </button>
            <!-- <button type="submit" class="btn-save-submit">Delete</button> -->
            
            <a onclick="reportdeleteNow()" href="" id="reportdelete" ><button type=""
                class="btn-save-submit">Delete</button></a>
           
          </div>
        </div>
  
      </div>
    </div>
  </div>
<!-- end -->
{% endblock content %}

{% block scripts %}
<script src="https://cdn.datatables.net/1.11.0/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.0/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/responsive.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/fixedcolumns/4.2.1/js/dataTables.fixedColumns.min.js"></script>
<script src="{% static 'js/farm/farm_list.js' %}"></script>

<script>
    $(document).ready(function () {
        $('#processorList_tbl').DataTable({
          responsive: false,
            "paging": true,
            "pageLength": 100,
			"autoWidth": true,
            scrollY: "600px",
            scrollX: true,
            scrollCollapse: true,
            fixedColumns: {
                left: 1,
                right: 1
            },
        });
    });
    
    // $(document).ready(function () {
    //     $('#growerSelction').change(function () {
    //         $('#submitBtn').click();
    //     });
    // });

// delete storage
function delreport(url){
    $('#reportdelete').show();
    $('#reportdelete').attr('url',url);
}

function reportdeleteNow(){
  url = $('#reportdelete').attr('url');
  console.log(url)
  $.ajax({
  url: url,
  data: { },
  success: function (data) {
    if (data==1){
      location.reload();
    }
  }
});
}
</script>
<script>
  $('#Processor-active').addClass('activeLink');

  $('#Processor-down').addClass('down');
  $('#Processor-sub').show();

  $('#Classing-All-Reports').addClass('activeLink active-nav');

</script>
{% endblock scripts %}