{% extends "base.html" %} {% load static %}
{% block title %} Classing Producer Report list {% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'navbar.html' %}

<div class="main-content">
    {% include 'header.html' %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.0/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap4.min.css">

    <main>
        {% include '_alerts.html' %}
        <div class="page-title-with-or-without-btn">
            <span class="farm headingtop">Classing Producer Report list </span>
            <!-- Create button for add-processor-->
            <div class="flex-header-btn">
              <a href="{% url 'classing_report_csv_list' %}" class="btn-close-cancel">View Classing Producer Report</a>
              &nbsp;
              <a href="{% url 'classing_report_upload' %}" class="btn-close-cancel">Upload Classing Producer CSV </a>
            </div>
        </div>
        <div class="card card-padding">
            <div class="main-simple-table-with-search">
                <div class="both-data-in" style="display: inherit;">
                    <div class="simple-responsive-table">
                        <table id="processorList_tbl" class="table table-striped dt-responsive nowrap" style="width:100%">
                            <thead>
                                <tr style="border-bottom: 2px solid #e0e0e0;">
                                    <th width="20%">Processor Name</th>
                                    <th width="20%">Grower Name</th>
                                    <th width="40%">File Name</th>
                                    <th width="10%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in cr %}

                                <tr>
                                    <td>{{i.processor.entity_name}}</td>
                                    <td>{{i.grower.name}}</td>
                                    <td>{{i.csv_path| cut:'processor_reports/'}}</td>                                   
                                    <td class="backk action-td" >
                                        <li>
                                            <a href="{{i.csv_path.url}}" alt="download" title="download"><span class="fas fa-download"></span></a>
                                        </li>
                                        <li>
                                        <a onclick="delreport('{% url 'classing_report_delete' i.pk %}')" href="{% url 'classing_report_delete' i.pk %}"
                                        data-mdb-toggle="modal" data-mdb-target="#deleteModal" alt="delete" title="delete">
                                        <span class="fas fa-trash"></span></a>
                                        </li>
                                        
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                    </div>
                </div>
            </div>

    </main>
    {% include 'footer.html' %}
</div>

<!-- Delete Popup -->
<div class="modal fade" id="deleteModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel22" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <div class="modal-body">
          <button type="button" class="btn-close cust-close-ds-btn" data-mdb-dismiss="modal" aria-label="Close"></button>
          <div class="center-content-status">
            <img src="{% static 'img/trash.png' %}" alt="right" id="rightImg" class="warning-icon">
            <p id="message" class="modal-title titlepad">Are you sure you want to delete?</p>
          </div>
          <div class="modal-center-btn-footer">
            <button onclick="reloadwindow()" id="closeBtnpopup" type="button" class="btn-close-cancel btn-space"
              data-mdb-dismiss="modal">
              Close
            </button>
            <!-- <button type="submit" class="btn-save-submit">Delete</button> -->
            
            <a onclick="reportdeleteNow()" href="" id="reportdelete" ><button type=""
                class="btn-save-submit">Delete</button></a>
           
          </div>
        </div>
  
      </div>
    </div>
  </div>
<!-- end -->
{% endblock content %}

{% block scripts %}
<script src="https://cdn.datatables.net/1.11.0/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.0/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/responsive.bootstrap4.min.js"></script>

<script src="{% static 'js/farm/farm_list.js' %}"></script>

<script>
    $(document).ready(function () {
        $('#processorList_tbl').DataTable();
    });
    
    // $(document).ready(function () {
    //     $('#growerSelction').change(function () {
    //         $('#submitBtn').click();
    //     });
    // });

// delete storage
function delreport(url){
    $('#reportdelete').show();
    $('#reportdelete').attr('url',url);
}

function reportdeleteNow(){
  url = $('#reportdelete').attr('url');
  console.log(url)
  $.ajax({
  url: url,
  data: { },
  success: function (data) {
    if (data==1){
      location.reload();
    }
  }
});
}
</script>
{% endblock scripts %}