{% extends "base.html" %} {% load static %}
{% block title %} Assign Location {% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'navbar.html' %}

<div class="main-content">
    {% include 'header.html' %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.0/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap4.min.css">

    <main>
        {% include '_alerts.html' %}
        <div class="page-title-with-or-without-btn">
            <span class="farm headingtop">Assign Location</span>
            <!-- Create button for Account-->
        </div>

        <div class="card farm-fields-container">
            <div class="container-fluid">
                <form action="" method="post" class="farm-fields-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col-md-4 mb-2">
                            <label for="shipment">SHIPMENT ID</label>
                            <input type="text" value="{{grower_shipment.shipment_id}}"
                                class="textinput textInput form-control" readonly>
                        </div>
                        <div class="col-md-4 mb-2">
                            <label for="shipment">FIELD</label>
                            <input type="text" value="{{grower_shipment.field.name}}"
                                class="textinput textInput form-control" readonly>
                        </div>
                        <div class="col-md-4 mb-2">
                            <label for="shipment">GROWER</label>
                            <input type="text" value="{{grower_shipment.grower.name}}"
                                class="textinput textInput form-control" readonly>
                        </div>
                    
                        <!-- <div class="col-md-4 mb-2">
                            <label for="shipment"># ROLLS</label>
                            <input type="text" value="{{grower_shipment.amount}}"
                                class="textinput textInput form-control" readonly>
                        </div> -->
                        <div class="col-md-4 mb-2">
                            <label for="shipment">CROP</label>
                            <input type="text" value="{{grower_shipment.crop}}" class="textinput textInput form-control"
                                readonly>
                        </div>
                        <div class="col-md-4 mb-2">
                            <label for="shipment">VARIETY</label>
                            <input type="text" value="{{grower_shipment.variety}}"
                                class="textinput textInput form-control" readonly>
                        </div>
                    
                        <div class="col-md-4 mb-2">
                            <label for="shipment">SUSTAINABILITY SCORE </label>
                            <input type="text" value="{{grower_shipment.sustainability_score}}"
                                class="textinput textInput form-control" readonly>
                        </div>
                        <div class="col-md-4 mb-2">
                            <label for="shipment">DATE AND TIME</label>
                            <input type="text" value="{{grower_shipment.date_time}}"
                                class="textinput textInput form-control" readonly>
                        </div>
                        <div class="col-md-4 mb-2">
                            <label for="shipment"> ECHELON ID </label>
                            <input type="text" value="{{grower_shipment.echelon_id}}"
                                class="textinput textInput form-control" readonly>
                        </div>
                        <div class="col-md-12" style="margin-bottom: 10px;">
                            <label for="shipment"><b>Amount</b></label>
                            <div style="font-size: 20px">
                                    <span style="font-size: 30px">{{grower_shipment.amount}}</span>  {{grower_shipment.unit_type}}
                                    {% if grower_shipment.amount2|length > 0 %}
                                    + <span style="font-size: 30px">{{grower_shipment.amount2}}</span> {{grower_shipment.unit_type2}}
                                    =
                                    <span style="font-size: 30px">{{grower_shipment.total_amount}}</span> LBS
                                    {% endif %}
                            </div>
                        </div>
                        <div class="col-md-12 mb-2"><hr /></div>
                        
                        <div class="col-md-4 mb-2">
                            <label for="id_location">ADD LOCATION <span class="asteriskField">*</span></label>
                            <select id="id_location" name="id_location" class="gro_dd" style="width: 100%; padding-left:10px ;" required>
                                {% for location in location %}
                                <option value="{{ location.pk }}">{{location.name}} - {{location.pk}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="form-btn-row">
                            <a href="{% url 'processor_inbound_management' %}" class="btn-close-cancel btn-space">Cancel</a>
                            <input type="submit" class="btn-save-submit" value="Save"> 
                        </div>
                    </div>
                   
                </form>
            </div>
        </div>
</div>
</main>
{% include 'footer.html' %}
</div>


{% endblock content %}

{% block scripts %}
<script src="https://cdn.datatables.net/1.11.0/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.0/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/responsive.bootstrap4.min.js"></script>

<script src="{% static 'js/farm/farm_list.js' %}"></script>

<script>
    $(document).ready(function () {
        $('#processorList_tbl').DataTable();
    });


</script>
{% endblock scripts %}