{% extends "base.html" %} {% load static %}
{% block title %} Outbound Management {% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'navbar.html' %}
<style>
  .table>:not(caption)>*>*{
    border-bottom-width:0px
  }
</style>
<div class="main-content">
    {% include 'header.html' %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.0/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap4.min.css">

    <main>
        {% include '_alerts.html' %}
        <div class="page-title-with-or-without-btn">
            <span class="farm headingtop">Outbound Management </span>
            <!-- Create button for add-location-->
            <div class="flex-header-btn">
                
            </div>
        </div>
        <div class="card card-padding">
            <div class="main-simple-table-with-search">
                
                
                <div class="form-inline justify-content-start">
                    <form action="" method="post" class="">
                        {% csrf_token %}
                        <div class="inline-apply-filter">
                          <div class="three-fields-with-label">
                            <select id="growerSelction" name="grower_id" class="mb-0" style="border-radius:0px !important">
                              <option value='0' selected> Select All Grower </option>
                              {% for grower in grower %}
                              {% if grower == selectedGrower %}
                              <option selected value="{{ grower.pk }}">{{grower.name}} - {{grower.id}}
                              </option>
                              {% else %}
                              <option value="{{ grower.pk }}">{{grower.name}} - {{grower.id}}</option>
                              {% endif %}
                              {% endfor %}
                            </select>
                          </div>
                          <input style="display : none;" id="submitBtn" type="submit" class="apply-filter-btn primary-btn"
                            value="Apply Filter" />
                        </div>
                      </form>
                </div>
                
                <div class="both-data-in" style="display: inherit;">
                    <div class="simple-responsive-table">
                        <table id="processorList_tbl" class="table table-striped dt-responsive nowrap" style="width:100%">
                            <thead>
                                <tr style="border-bottom: 2px solid #e0e0e0;">
                                    <th width="10%">Shipment ID</th>
                                    <th width="10%"> MODULE TAG #</th>
                                    <th width="10%">ITEM , VARIETY</th>
                                    <!-- <th width="10%">Storage</th>
                                    <th width="10%">Field</th> -->
                                    <th width="10%">Weight</th>
                                    <th width="10%">Grower</th>
                                    {% if request.user.is_processor %}
                                    {% else %}
                                    <th width="10%">Processor</th>
                                    {% endif %}
                                    <th width="10%">Location</th>
                                    <th width="10%">SKU</th>
                                    <th width="20%">Action</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for outbound_obj in outbound_obj %}
                                <tr>
                                    <td>{{outbound_obj.shipment_id}}</td>
                                    <td>{{outbound_obj.module_number}}</td>
                                    <td>{{outbound_obj.crop}} , {{outbound_obj.variety}}</td>
                                    <!-- <td>{{outbound_obj.storage.storage_name}}</td>
                                    <td>{{outbound_obj.field.name}}</td> -->
                                    <td>{{outbound_obj.amount}} {{outbound_obj.unit_type}} 
                                      {% if outbound_obj.amount2|length > 0 %} 
                                      + {{outbound_obj.amount2}} {{outbound_obj.unit_type2}} 
                                      {% endif %}</td>
                                    <td>{{outbound_obj.grower.name}}</td>
                                    {% if request.user.is_processor %}
                                    {% else %}
                                    <td>{{outbound_obj.processor.entity_name}}</td>
                                    {% endif %}
                                    <td>{{outbound_obj.location.name}}</td>
                                    <td>{{outbound_obj.sku}}</td>
                                    <td class="backk action-td" >
                                      {% if outbound_obj.sku == None %}
                                        <a href="{% url 'processor_process_material' outbound_obj.pk %}" class="update-btn-link" alt="add process material" title="add process material"> <span class="fas fa-truck"></span> </a>
                                      {% else %} 
                                        <a href="{% url 'processor_process_material_edit' outbound_obj.pk %}" class="update-btn-link" alt="edit process material" title="edit process material"> <span class="fas fa-edit"></span> </a>
                                      {% endif %}
                                       <li>
                                        <a onclick="delStorage('{% url 'processor_outbound_delete' outbound_obj.pk %}')" href="{% url 'processor_outbound_delete' outbound_obj.pk %}"
                                        data-mdb-toggle="modal" data-mdb-target="#deleteModal" alt="delete outbound management" title="delete outbound management">
                                        <span class="fas fa-trash"></span></a>
                                        </li>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                    </div>
                </div>
            </div>

    </main>
    {% include 'footer.html' %}
</div>

<!-- Delete Popup -->
<div class="modal fade" id="deleteModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel22" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <div class="modal-body">
          <button type="button" class="btn-close cust-close-ds-btn" data-mdb-dismiss="modal" aria-label="Close"></button>
          <div class="center-content-status">
            <img src="{% static 'img/trash.png' %}" alt="right" id="rightImg" class="warning-icon">
            <p id="message" class="modal-title titlepad">Are you sure you want to delete?</p>
          </div>
          <div class="modal-center-btn-footer">
            <button onclick="reloadwindow()" id="closeBtnpopup" type="button" class="btn-close-cancel btn-space"
              data-mdb-dismiss="modal">
              Close
            </button>
            <!-- <button type="submit" class="btn-save-submit">Delete</button> -->
            
            <a onclick="storagedeleteNow()" href="" id="storageDelete" ><button type=""
                class="btn-save-submit">Delete</button></a>
           
          </div>
        </div>
  
      </div>
    </div>
  </div>
<!-- end -->
{% endblock content %}

{% block scripts %}
<script src="https://cdn.datatables.net/1.11.0/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.0/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/responsive.bootstrap4.min.js"></script>

<script src="{% static 'js/farm/farm_list.js' %}"></script>

<script>
    {% comment %} $(document).ready(function () {
        $('#processorList_tbl').DataTable();
    }); {% endcomment %}
    $(document).ready(function () {
      $('#processorList_tbl').DataTable({
          "ordering": false  // Disable initial ordering
      });
  });
    $(document).ready(function () {
        $('#growerSelction').change(function () {
            $('#submitBtn').click();
        });
    });

// delete storage
function delStorage(url){
    $('#storageDelete').show();
    $('#storageDelete').attr('url',url);
}

function storagedeleteNow(){
  url = $('#storageDelete').attr('url');
  console.log(url)
  $.ajax({
  url: url,
  data: { },
  success: function (data) {
    if (data==1){
      location.reload();
    }
  }
});
}
</script>
{% endblock scripts %}