{% extends "base.html" %} 
{% load static %} 
{% block title %} Role Management {% endblock title %} 

{% block extrahead %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y3EWVPF7PQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Y3EWVPF7PQ');
</script>
{% endblock extrahead %}

{% load crispy_forms_tags %} 
{% block content %} 
{% include 'navbar.html' %}

<div class="main-content">
    {% include 'header.html' %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.0/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap4.min.css">
    <main>
    {% include '_alerts.html' %}
    <div class="page-title-with-or-without-btn">
        <span class="farm headingtop">Role Management</span>
        <!-- Create button for Account-->
           <div class="flex-header-btn">
            {% if 'Role Management' in request.user.get_role_perm or request.user.is_superuser %}
           
            <a href="{% url 'role-create' %}" class="btn-close-cancel">Create Role</a>
           
           {% endif %}
            </div>
    </div>
<div class="card card-padding">
    <div class="main-simple-table-with-search">
        <div class="simple-responsive-table">
            <table id="farmListtbl" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                <thead>
                    <tr style="border-bottom: 2px solid #e0e0e0;">
                        <th>Role</th>
                        <th>Permission </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for role in object_list %}
                    <tr>
                        <td>{{role.role}}</td>
                        <td class="for-cursor" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
                            {% for perm in role.permissions.all %} {{perm.display}} <br>
                            {% endfor %}
                        </td>
                        <td class="backk">
                            
                            <li>
                                <a href="{% url 'role-update' role.pk %}" alt="edit role" title="edit role"> <span class="fas fa-edit"></span> </a>
                            </li>
                            {% if role.id != 2 and role.id != 4 %}
                            <li>
                                <!-- <a href="{% url 'role-delete' role.pk %}">
                                    <span class="fas fa-trash" data-mdb-toggle="modal" data-mdb-target="#exampleModal-delete"></span></a> -->

                                    <!-- <a href="{% url 'role-delete' role.pk %}" data-mdb-toggle="modal" data-mdb-target="#deleteModal">
                                        <span class="fas fa-trash"></span></a> -->
                                        
                                        <a onclick="delRole('{% url 'role-delete' role.pk %}')" href="javascript:void(0)" data-mdb-toggle="modal" data-mdb-target="#deleteModal" alt="delete role" title="delete role">
                                            <span class="fas fa-trash" ></span></a>
                                        
                            </li>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
</div> 
</div> 
    </main>
    {% include 'footer.html' %}
</div>


<!-- Delete Popup -->

<div
  class="modal fade"
  id="deleteModal"
  aria-hidden="true"
  aria-labelledby="exampleModalToggleLabel22"
  tabindex="-1"
>
  <div class="modal-dialog">
    <div class="modal-content">

	  <div class="modal-body">
		<button 
		type="button"
		class="btn-close cust-close-ds-btn"
		data-mdb-dismiss="modal"
		aria-label="Close"
	  ></button>
	  <div class="center-content-status">
		<img src="{% static 'img/trash.png' %}" alt="right" id="rightImg" class="warning-icon">
		<p id="message" class="modal-title titlepad">Are you sure you want to delete?</p>
	  </div>
	  <div class="modal-center-btn-footer">
		<button onclick="reloadwindow()" id="closeBtnpopup" type="button" class="btn-close-cancel btn-space" data-mdb-dismiss="modal">
			Close
		  </button>
		  {% comment %} <button  type="submit" class="btn-save-submit">Delete</button> {% endcomment %}
          <a onclick="roledeleteNow()" id="roleDelete" pkidhref=""><button  type="" class="btn-save-submit">Delete</button></a>
	</div>
	  </div>

    </div>
  </div>
</div>
<!-- end -->
<script type="text/javascript" src="{% static 'js/accounts/account_list.js' %}"></script>
<script>
  $('#User-Management-active').addClass('activeLink');

  $('#User-Management-down').addClass('down');
  $('#User-Management-sub').show();

  $('#role-list').addClass('activeLink active-nav');

</script>
{% endblock content %}