<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Files</title>
</head>

<body>
	<h2>Dear {{username|title }}</h2>
	<h5>Congratulations your consultant account has been created.</h5>
	<h5>Please find the credentials below-</h5>
	<h5>User Name : {{username}}</h5>
	<h5>Password : {{password}}</h5>
	<h5>URL : https://traceableoutcomes.tech/</h5>

	<h3>Thanks </h3>

	<img src="https://traceableoutcomes.tech/static/img/logo.png"
		alt="logo.png" style="width:15%;">
</body>

</html>