{% extends "base.html" %} {% load static %} {% block title %} Sustainable Product Claims {% endblock title %}
{% block content %} {% include "navbar.html" %}
<div class="main-content">
    {% include 'header.html' %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    
    <style>
    	ul.cirtified-list {
    		margin: 0 0 30px;
    		padding: 0;
    	}

    	ul.cirtified-list li {
    		list-style: none;
    		display: inline-block;
    		margin-right: 30px;
    	}
        .selected {
            margin-top: 0;
            margin-left: 0;
            padding-left: 12px;
            padding-right: 10px;
            font-size: 16px;
        }
        .dropdown.bootstrap-select.form-control .btn {
        border-radius:8px ;
        }
        .bootstrap-select .dropdown-menu li.disabled.selected{display: none;}
        .dropdown.bootstrap-select.form-control .btn{border: 1px solid ; padding: 6px 8px; }
        .bootstrap-select .dropdown-menu{max-width: 280px;}
        .bootstrap-select .dropdown-menu li.selected.active .dropdown-item.active.selected{margin-left: 0;padding: 0;}
    </style>
    <main>
        <!-- <span class="farm headingtop">Sustainable Product Claims</span> -->
        <div id="htmltoimage">
            <div class="container">
                <div class="row d-flex">
                    <div class="col-6">
                        <h3 class="mb-4">Sustainable Product Claims</h3>
                    </div>
                    {% if selectedField and not error_msg %}
                    {% if selectedField != "all" %}
                    <div class="col-6 text-right">
                        <div class="mst-auto">
                            <button onclick="downloadpdf()" class="btn-close-cancel">Get Certificate</button>
                        
                            <button onclick="downloadimage()" class="btn-close-cancel">Download Image</button>
                        </div>
                    </div>
                    {% else %}
                    <div class="col-6 text-right">
                        <div class="mst-auto">
                            <button onclick="downloadimage()" class="btn-close-cancel">Download Image</button>
                        </div>
                    </div>
                    {% endif %}
                    {% endif %}
                </div>
                
                
                <form action="" method="get">
                    <div class="inline-option row">
                        <div class="col-md-4">
                            <label for="">Grower</label>
                            <select name="growerSelction" id="growerSelction" class="form-control selectpicker" data-live-search="true">
                                <option value="">Select Grower</option>
                                {% for i in growers %}
                                {% if i == selectedGrower %}
                                <option value="{{i.pk}}" selected>{{i.name}}</option>
                                {% else %}
                                <option value="{{i.pk}}">{{i.name}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="">Field</label>
                            <select name="fieldSelction" id="fieldSelction" class="form-control selectpicker" data-live-search="true">
                                <option value="">Select Field</option>
                                
                                {% for i in fields %}
                                {% if i == selectedField %}
                                <option value="{{i.pk}}" selected>{{i.name}}</option>
                                {% else %}
                                <option value="{{i.pk}}">{{i.name}}</option>
                                {% endif %}
                                {% endfor %}

                                {% if selectedField == "all" %}
                                <option value="all_fields" selected>All Fields</option>
                                {% else %}
                                <option value="all_fields">All Fields</option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="">Crop</label>
                            <select name="cropSelction" id="cropSelction" class="form-control selectpicker" data-live-search="true">
                                <option value="">Select Crop</option>
                                {% if corps %}
                                <option value="{{corps}}" selected>{{corps}}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <input type="submit" id="submitBtn" style="display: none;">
                </form>
                <hr>
                <p>The following claims are aggregate values derived from field level data from each compliant agricultural field enrolled in the Agreeta Solutions platform for the 2022 crop year. Data provided for the claims specified herein are the result of collaboration between Growers, their Agricultural Consultants and the use of the Agreeta Platform. Supporting grower survey results, lab soil tests, tissue tests and water tests along with field specific input data entered into the Agreeta Platform were data points used to quantify the values required to supply the data to support claims. For savings calculations, these data points were then compared to published USDA National and Regional Crop Data, USDA COMET-Farm TM and OECD-FAO Agricultural Outlook 2022-2031.</p>
                {% if selectedField %}
                    {% if error_msg %}
                    <h4>{{error_msg}}</h4>
                    {% else %}

                    {% if selectedField == "all" %}
                    <h4>Product Claims:</h4>
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-12">
                            <div class="chart-box mb-5">
                                <div id="chartContainer" style="height: 300px; width: 100%;"></div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-12">
                            <div class="chart-box mb-5">
                                <div id="chartContainer2" style="height: 300px; width: 100%;"></div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-12">
                            <div class="chart-box mb-5">
                                <div id="chartContainer3" style="height: 300px; width: 100%;"></div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-12">
                            <div class="chart-box mb-5">
                                <div id="chartContainer4" style="height: 300px; width: 100%;"></div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-12">
                            <div class="chart-box mb-5">
                                <div id="chartContainer5" style="height: 300px; width: 100%;"></div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-12">
                            <div class="chart-box mb-5">
                                <div id="chartContainer6" style="height: 300px; width: 100%;"></div>
                            </div>
                        </div>
                    </div>
            
                    <p><strong>ISO 14067:2018</strong></p>
                    <p><strong><i>Greenhouse Gas Verification Statement</i></strong></p>
                    <p><i>SGS Tecnos S.A.U (Spain) has verified The Partial Carbon Footprint of 1Kg Rice Produced, based on the assessment of its life cycle during 2022</i></p>
                    <p>The GHGs included are: carbon dioxide (CO2), methane (CH4), nitrogen oxide (N2O), hydrofluorocarbons (HFCs), perfluorocarbons (PFCs), sulfur hexafluoride (SF6). The CFP is based on the quantification of the greenhouse gases related to the entire product's cycle of life. The ISO 14067:2018 is the ISO standard that aims to improve the clarity and the consistency of the quantifications activities, reporting and communication of the product's Carbon Footprint (CFP).</p>
                    <hr>
                    <p>The Carbon footprint is the sum of emissions that a product generates during its life cycle. The study of the CFP allows to quantify in terms of CO2 the carbon footprint. The methodology underlying of the Product's Carbon Footprint is based on the principle of responsibility towards the environment and the transparency of the communication of the results.</p>
                    <br/>
            
                    <ul class="cirtified-list">
                        <li><img src="{% static 'img/images/iso.png' %}" alt="ISO"></li>
                        <li><img src="{% static 'img/images/carbon-footprint.png' %}" alt="Carbon Footprint"></li>
                    </ul>

                    {% else %}
                    <h4>Product Claims: </h4>
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-12">
                            <div class="chart-box mb-5">
                                <div id="chartContainer" style="height: 300px; width: 100%;"></div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-12">
                            <div class="chart-box mb-5">
                                <div id="chartContainer2" style="height: 300px; width: 100%;"></div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-12">
                            <div class="chart-box mb-5">
                                <div id="chartContainer3" style="height: 300px; width: 100%;"></div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-12">
                            <div class="chart-box mb-5">
                                <div id="chartContainer4" style="height: 300px; width: 100%;"></div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-12">
                            <div class="chart-box mb-5">
                                <div id="chartContainer5" style="height: 300px; width: 100%;"></div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-12">
                            <div class="chart-box mb-5">
                                <div id="chartContainer6" style="height: 300px; width: 100%;"></div>
                            </div>
                        </div>
                    </div>
            
                    <p><strong>ISO 14067:2018</strong></p>
                    <p><strong><i>Greenhouse Gas Verification Statement</i></strong></p>
                    <p><i>SGS Tecnos S.A.U (Spain) has verified The Partial Carbon Footprint of 1Kg Rice Produced, based on the assessment of its life cycle during 2022</i></p>
                    <p>The GHGs included are: carbon dioxide (CO2), methane (CH4), nitrogen oxide (N2O), hydrofluorocarbons (HFCs), perfluorocarbons (PFCs), sulfur hexafluoride (SF6). The CFP is based on the quantification of the greenhouse gases related to the entire product's cycle of life. The ISO 14067:2018 is the ISO standard that aims to improve the clarity and the consistency of the quantifications activities, reporting and communication of the product's Carbon Footprint (CFP).</p>
                    <hr>
                    <p>The Carbon footprint is the sum of emissions that a product generates during its life cycle. The study of the CFP allows to quantify in terms of CO2 the carbon footprint. The methodology underlying of the Product's Carbon Footprint is based on the principle of responsibility towards the environment and the transparency of the communication of the results.</p>
                    <br/>
            
                    <ul class="cirtified-list">
                        <li><img src="{% static 'img/images/iso.png' %}" alt="ISO"></li>
                        <li><img src="{% static 'img/images/carbon-footprint.png' %}" alt="Carbon Footprint"></li>
                    </ul>
                    {% endif %}
            </div>
                    {% endif %}
                {% endif %}
        </div>
    </main>
</div>
{% endblock content %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
<script>
    $(document).ready(function() {
    $('#growerSelction').change( function () {
    $('#submitBtn').click();
    });
    });
    $(document).ready(function() {
    $('#fieldSelction').change( function () {
    $('#submitBtn').click();
    });
    });
</script>

{% if selectedField == "all" %}
<script type="text/javascript">
    window.onload = function () {
      var chart = new CanvasJS.Chart("chartContainer",
      {
        title:{
          text: "Gal water save / Pound"
        },
        data: [
        {
          type: "bar",
          toolTipContent: "<b>{label} - Water Savings :</b> {y}",
          dataPoints: [
          { x: {{ main_data|length }}+1, y: {{avg_water_savings_efficiency}},  label: "Grower Average", color: "{{color_code}}"},
            {% for i in main_data %}
                {% if forloop.last %}
                { x: {{ forloop.counter }}, y: {{ i.water_savings_efficiency }},  label: "{{ i.field_name }}", color: "{{ i.color }}" }
                {% else %}
                { x: {{ forloop.counter }}, y: {{ i.water_savings_efficiency }},  label: "{{ i.field_name }}", color: "{{ i.color }}" },
                {% endif %}
            {% endfor %}
          ]
        }
        ]
      });
      chart.render();

      var chart2 = new CanvasJS.Chart("chartContainer2",
      {
        title:{
          text: "Land Use Efficiency"
        },
        data: [
        {
          type: "bar",
          toolTipContent: "<b>{label} - Land Efficiency(%) :</b> {y} %",
          dataPoints: [
          { x: {{ main_data|length }}+1, y: {{avg_land_use_efficiency}},  label: "Grower Average", color: "{{color_code}}"},
          {% for i in main_data %}
                {% if forloop.last %}
                { x: {{ forloop.counter }}, y: {{ i.land_use_efficiency }},  label: "{{ i.field_name }}", color: "{{ i.color }}" }
                {% else %}
                { x: {{ forloop.counter }}, y: {{ i.land_use_efficiency }},  label: "{{ i.field_name }}", color: "{{ i.color }}" },
                {% endif %}
            {% endfor %}
          ]
        }
        ]
      });
      chart2.render();

      var chart3 = new CanvasJS.Chart("chartContainer3",
      {
        title:{
          text: "Total Gallons Water Savings / field"
        },
        data: [
        {
          type: "bar",
          toolTipContent: "<b>{label} - Gallons Water(saved) :</b> {y}",
          dataPoints: [
          { x: {{ main_data|length }}+1, y: {{avg_total_gallons_water_saved}},  label: "Grower Average", color: "{{color_code}}"},
          {% for i in main_data %}
                {% if forloop.last %}
                { x: {{ forloop.counter }}, y: {{ i.total_gallons_water_saved }},  label: "{{ i.field_name }}", color: "{{color_code}}" }
                {% else %}
                { x: {{ forloop.counter }}, y: {{ i.total_gallons_water_saved }},  label: "{{ i.field_name }}", color: "{{ i.color }}" },
                {% endif %}
            {% endfor %}
          ]
        }
        ]
      });
      chart3.render();

      var chart4 = new CanvasJS.Chart("chartContainer4",
      {
        title:{
          text: "Less Ghg Emmissions"
        },
        data: [
        {
          type: "bar",
          toolTipContent: "<b>{label} - Less Ghg(%) :</b> {y} %",
          dataPoints: [
          { x: {{ main_data|length }}+1, y: {{avg_less_ghg_value}},  label: "Grower Average", color: "{{color_code}}"},
          {% for i in main_data %}
                {% if forloop.last %}
                { x: {{ forloop.counter }}, y: {{ i.less_ghg_value }},  label: "{{ i.field_name }}", color: "{{ i.color }}" }
                {% else %}
                { x: {{ forloop.counter }}, y: {{ i.less_ghg_value }},  label: "{{ i.field_name }}", color: "{{ i.color }}" },
                {% endif %}
            {% endfor %}
          ]
        }
        ]
      });
      chart4.render();

      var chart5 = new CanvasJS.Chart("chartContainer5",
      {
        title:{
          text: "CO2 EQ Per Pound"
        },
        data: [
        {
          type: "bar",
          toolTipContent: "<b>{label} - Gallons Saved :</b> {y} Gallons",
          dataPoints: [
          { x: {{ main_data|length }}+1, y: {{avg_co2eq_claims}},  label: "Grower Average", color: "{{color_code}}"},
          {% for i in main_data %}
                {% if forloop.last %}
                { x: {{ forloop.counter }}, y: {{ i.co2eq_claims }},  label: "{{ i.field_name }}", color: "{{ i.color }}" }
                {% else %}
                { x: {{ forloop.counter }}, y: {{ i.co2eq_claims }},  label: "{{ i.field_name }}", color: "{{ i.color }}" },
                {% endif %}
            {% endfor %}
          ]
        }
        ]
      });
      chart5.render();

      var chart6 = new CanvasJS.Chart("chartContainer6",
      {
        title:{
          text: "Grower Premiums"
        },
        data: [
        {
          type: "bar",
          toolTipContent: "<b>{label} - Grower Premiums(%) </b>{y}%",
          dataPoints: [
          { x: {{ main_data|length }}+1, y: {{avg_grower_premium_percent1}},  label: "Grower Average", color: "{{color_code}}"},
          {% for i in main_data %}
                {% if forloop.last %}
                { x: {{ forloop.counter }}, y: {{ i.grower_premium_percent1 }},  label: "{{ i.field_name }}", color: "{{ i.color }}" }
                {% else %}
                { x: {{ forloop.counter }}, y: {{ i.grower_premium_percent1 }},  label: "{{ i.field_name }}", color: "{{ i.color }}" },
                {% endif %}
            {% endfor %}
          ]
        }
        ]
      });
      chart6.render();


    }
</script>
{% else %}
<script>
window.onload = function() {
    {% if selectedField.crop == "COTTON" %}
    var chart = new CanvasJS.Chart("chartContainer", {
        theme: "light2", // "light1", "light2", "dark1", "dark2"
        exportEnabled: false,
        animationEnabled: true,
        title: {
            text: "Gal water save / Pound",
        },
        data: [{
            type: "pie",
            startAngle: 16,
            toolTipContent: "<b>{xyx}</b>",
            showInLegend: "true",
            legendText: "{label}",
            indexLabelFontSize: 10,
            // indexLabel: "{label} {y} %",
            dataPoints: [
                { y: {{water_savings_efficiency_total}}, label: "", xyx: "{{water_savings_efficiency_total}}%"},
                { y: {{water_savings_efficiency}}, label: "Water Savings(%) : {{water_savings_efficiency}}%", xyx: "Water Savings(%) : {{water_savings_efficiency}}%" }
            ]
        }]
    });
    chart.render();
    {% elif selectedField.crop == "RICE" %}
    {% if water1_error_msg %}
    var imageUrl = '../../static/img/images/Galwatersaveperpound.jpg'; // Replace this with your actual image URL
    var imgElement = document.createElement('img');
    imgElement.src = imageUrl;
    var chartContainer = document.getElementById('chartContainer');
    chartContainer.style.backgroundColor = 'white';
    chartContainer.appendChild(imgElement);
    {% else %}
    var chart = new CanvasJS.Chart("chartContainer", {
        theme: "light2", // "light1", "light2", "dark1", "dark2"
        animationEnabled: true,
        title: {
            text: "Gal water save / Pound"
        },
        axisY: {
            title: "**Based on regional average",
            maximum: {{water_savings_efficiency_total}}
        },
        toolTip: {
            shared: true
        },
        data: [{
                type: "column",
                name: "Average",
                toolTipContent: "{label} <br> <b>{name}:</b> {y} Gallons",
                dataPoints: [
                    { y: {{water_savings_efficiency}}, label: "Water Savings" }
                ]
            },
            {
                type: "error",
                name: "Variability ",
                toolTipContent: "<b>{name}:</b> {y[0]} - {y[1]} Gallons",
                dataPoints: [
                    { y: [{{water_savings_efficiency}}, {{water_savings_efficiency_total}}], label: "Water Savings" }

                ]
            }
        ]
    });
    chart.render();
    {% endif %}
    {% endif %}
    {% if land_use_error_msg %}
    var imageUrl = '../../static/img/images/landuseefficiency.jpg'; // Replace this with your actual image URL
    var imgElement = document.createElement('img');
    imgElement.src = imageUrl;
    var chartContainer2 = document.getElementById('chartContainer2');
    chartContainer2.style.backgroundColor = 'white';
    chartContainer2.appendChild(imgElement);
    {% else %}
    var chart_chartContainer2 = new CanvasJS.Chart("chartContainer2", {
        theme: "light2", // "light1", "light2", "dark1", "dark2"
        exportEnabled: false,
        animationEnabled: true,
        title: {
            text: "Land Use Efficiency",
        },
        data: [{
            type: "pie",
            startAngle: 16,
            toolTipContent: "<b>{xyx}</b>",
            showInLegend: "true",
            legendText: "{label}",
            indexLabelFontSize: 10,
            // indexLabel: "{label} {y} %",
            dataPoints: [
                { y: {{land_use_efficiency_total}}, label: "", xyx: "{{land_use_efficiency_total}}%" },
                { y: {{land_use_efficiency}}, label: "Land Efficiency(%) : {{land_use_efficiency}}%", xyx: "Land Efficiency(%) : {{land_use_efficiency}}%" }
            ]
        }]
    });
    chart_chartContainer2.render();
    {% endif %}
    {% if water2_error_msg %}
    var imageUrl = '../../static/img/images/galwaterperfield.jpg'; // Replace this with your actual image URL
    var imgElement = document.createElement('img');
    imgElement.src = imageUrl;
    var chartContainer3 = document.getElementById('chartContainer3');
    chartContainer3.style.backgroundColor = 'white';
    chartContainer3.appendChild(imgElement);
    {% else %}
    var chart_container3 = new CanvasJS.Chart("chartContainer3", {
        theme: "light2", // "light1", "light2", "dark1", "dark2"
        animationEnabled: true,
        title: {
            text: "Total Gallons Water Savings / field"
        },
        axisY: {
            title: "**Based on regional average",
            maximum: {{max_total_gallons_water_saved}}
        },
        toolTip: {
            shared: true
        },
        data: [{
                type: "column",
                name: "Average",
                toolTipContent: "{label} <br> <b>{name}:</b> {y} Gallons",
                dataPoints: [
                    { y: {{total_gallons_water_saved}}, label: "Gallons Water" }
                ]
            },
            {
                type: "error",
                name: "Variability ",
                toolTipContent: "<b>{name}:</b> {y[0]} - {y[1]} Gallons",
                dataPoints: [
                    { y: [{{total_gallons_water_saved}}, {{max_total_gallons_water_saved}}], label: "Gallons Water" }

                ]
            }
        ]
    });
    chart_container3.render();
    {% endif %}
    {% if less_ghg_error_msg %}
    var imageUrl = '../../static/img/images/lessGHGemission.jpg'; // Replace this with your actual image URL
    var imgElement = document.createElement('img');
    imgElement.src = imageUrl;
    var chartContainer4 = document.getElementById('chartContainer4');
    chartContainer4.style.backgroundColor = 'white';
    chartContainer4.appendChild(imgElement);
    {% else %}
    var chart_Container4 = new CanvasJS.Chart("chartContainer4", {
        theme: "light2", // "light1", "light2", "dark1", "dark2"
        exportEnabled: false,
        animationEnabled: true,
        title: {
            text: "Less Ghg Emmissions",
        },
        data: [{
            type: "pie",
            startAngle: 16,
            toolTipContent: "<b>{xyx}</b>",
            showInLegend: "true",
            legendText: "{label}",
            indexLabelFontSize: 10,
            // indexLabel: "{label} {y} %",
            dataPoints: [
                { y: {{total_less_ghg_value}}, label: "", xyx: "{{total_less_ghg_value}}%" },
                { y: {{less_ghg_value}}, label: "Less Ghg(%) : {{less_ghg_value}}%", xyx: "Less Ghg(%) : {{less_ghg_value}}%" }
            ]
        }]
    });
    chart_Container4.render();
    {% endif %}
    {% if co2eq_reduction_error_msg %}
    var imageUrl = '../../static/img/images/co2eqperpound.jpg'; // Replace this with your actual image URL
    var imgElement = document.createElement('img');
    imgElement.src = imageUrl;
    var chartContainer5 = document.getElementById('chartContainer5');
    chartContainer5.style.backgroundColor = 'white';
    chartContainer5.appendChild(imgElement);
    {% else %}
    var chart_container5 = new CanvasJS.Chart("chartContainer5", {
        theme: "light2", // "light1", "light2", "dark1", "dark2"
        animationEnabled: true,
        title: {
            text: "CO2 EQ Per Pound"
        },
        axisY: {
            title: "**Based on regional average",
            maximum: {{co2eq_claims_max}}
        },
        toolTip: {
            shared: true
        },
        data: [{
                type: "column",
                name: "Average",
                toolTipContent: "{label} <br> <b>{name}:</b> {y} Gallons",
                dataPoints: [
                    { y: {{co2eq_claims}}, label: "Gallons Water" }
                ]
            },
            {
                type: "error",
                name: "Variability ",
                toolTipContent: "<b>{name}:</b> {y[0]} - {y[1]} Gallons",
                dataPoints: [
                    { y: [{{co2eq_claims}}, {{co2eq_claims_max}}], label: "Gallons Water" }

                ]
            }
        ]
    });
    chart_container5.render();
    {% endif %}
    {% if grower_premium_error_msg %}
    var imageUrl = '../../static/img/images/growerpremium.jpg'; // Replace this with your actual image URL
    var imgElement = document.createElement('img');
    imgElement.src = imageUrl;
    var chartContainer6 = document.getElementById('chartContainer6');
    chartContainer6.style.backgroundColor = 'white';
    chartContainer6.appendChild(imgElement);
    {% else %}
    var chart_Container6 = new CanvasJS.Chart("chartContainer6", {
        theme: "light2", // "light1", "light2", "dark1", "dark2"
        exportEnabled: false,
        animationEnabled: true,
        title: {
            text: "Grower Premiums",
        },
        data: [{
            type: "pie",
            startAngle: 16,
            toolTipContent: "<b>{xyx}</b>",
            showInLegend: "true",
            legendText: "{label}",
            indexLabelFontSize: 10,
            // indexLabel: "{label} {y} %",
            dataPoints: [
                { y: {{grower_premium_percent2}}, label: "", xyx: "{{grower_premium_percent2}}%" },
                { y: {{grower_premium_percent1}}, label: "Grower Premiums(%) : {{grower_premium_percent1}}%", xyx: "Grower Premiums(%) : {{grower_premium_percent1}}%" }
            ]
        }]
    });
    chart_Container6.render();
    {% endif %}
}
</script>
{% endif %}

<!-- PDF Download -->
<script>
function downloadpdf() {
    
    var corps = '{{corps}}';
    var field_id = '{{selectedField.id}}';
    var grower_id = '{{selectedGrower.id}}';
    var water_savings_efficiency = '{{water_savings_efficiency}}';
    var land_use_efficiency = '{{land_use_efficiency}}';
    var total_gallons_water_saved = '{{total_gallons_water_saved}}';
    var less_ghg_value = '{{less_ghg_value}}';
    var co2eq_claims = '{{co2eq_claims}}';
    var grower_premium_percent1 = '{{grower_premium_percent1}}';
    //window.location.href = `${window.location.protocol + "//" + window.location.host}/grower/sustainable_get_certificate/${corps}/${field_id}/${grower_id}/?water_savings_efficiency=${water_savings_efficiency}&land_use_efficiency=${land_use_efficiency}&total_gallons_water_saved=${total_gallons_water_saved}&less_ghg_value=${less_ghg_value}&co2eq_claims=${co2eq_claims}&grower_premium_percent1=${grower_premium_percent1}`;
    // Use window.open to open the URL in a new tab
    window.open(`${window.location.protocol + "//" + window.location.host}/grower/sustainable_get_certificate/${corps}/${field_id}/${grower_id}/?water_savings_efficiency=${water_savings_efficiency}&land_use_efficiency=${land_use_efficiency}&total_gallons_water_saved=${total_gallons_water_saved}&less_ghg_value=${less_ghg_value}&co2eq_claims=${co2eq_claims}&grower_premium_percent1=${grower_premium_percent1}`, '_blank');
}
</script>
    
<!-- Image Download -->
<script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
<script>
    function downloadimage() {
                /*var container = document.getElementById("image-wrap");*/ /*specific element on page*/
                var container = document.getElementById("htmltoimage"); /* full page */
                html2canvas(container, { allowTaint: true }).then(function (canvas) {

                    var link = document.createElement("a");
                    document.body.appendChild(link);
                    {% if selectedField != "all" %}
                    link.download = "{{selectedField.name}}.jpg";
                    {% else %}
                    link.download = "{{selectedGrower.name}}_All_Fields.jpg";
                    {% endif %}
                    link.href = canvas.toDataURL();
                    link.target = '_blank';
                    link.click();
                });
            }
    
</script>
<script>
    $('#Sustainability-active').addClass('activeLink');
                  
    $('#Sustainability-down').addClass('down');
    $('#Sustainability-sub').show();
    
    $('#sustainable-product-claims').addClass('activeLink active-nav');
  </script>
{% endblock scripts %}


