<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sustainable Product Claims</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;" background="https://harvesttrails.app/static/img/images/logo.png">
        <tbody>
            <tr>
                <td>
                    <span style="width: 100%; display: block; text-align: center;">
                        <img src="https://harvesttrails.app/static/img/images/logo.png" alt="" style="width: 100%;">
                    </span>
                </td>
            </tr>           
            <tr>
                <td height="20">&nbsp;</td>
            </tr>
            <tr>
                <td height="40">&nbsp;</td>
            </tr>
            <tr>
                <td height="40">&nbsp;</td>
            </tr> 
            <tr>
                <td>
                    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                        <tbody>
                            <tr>
                                <td>
                                    <h1 style="text-align: center; margin-bottom: 30px;color: #387621;font-weight: 100; font-size: 30px;">Sustainable Product Claims</h1>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>            
            <tr>
                <td height="20">&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                        <tbody>
                            <tr>
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                                        <tbody>
                                            <tr>
                                                <td width="30%"><p style="color: #70ab5c; font-size: 14px; margin:0;">{{grower_name}}</td>
                                                <td width="30%"><p style="color: #70ab5c; font-size: 14px; margin:0;">{{field_name}}</td>
                                                <td width="30%"><p style="color: #70ab5c; font-size: 14px; margin:0;">Crop Year 2022</td>
                                                <td width="10%"><p style="color: #70ab5c; font-size: 14px; margin:0;">{{corp}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td height="20">&nbsp;</td>
            </tr>
            <tr>
                <td style="border-top:1px solid #999999;"></td>
            </tr>
            <tr>
                <td height="20">&nbsp;</td>
            </tr>
            <tr>
                <td height="20">&nbsp;</td>
            </tr>
            <tr>
                <td>                    
                    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                        <tbody>
                            <tr width="33%" style="display: inline-block;">
                                <td style="padding: 0 5px; vertical-align: top;">
                                    <p style="color: #387621; font-size: 24px; margin: 0;">{{water_savings_efficiency}}%</p>
                                    <p style="color: #1b1b1b; display: block; font-size: 16px;margin:0">Water Savings</p>
                                </td>                            
                                <td style="padding:0 5px" valign="top">
                                    <p style="color: #387621;display: block;font-size: 24px; margin: 0;">{{land_use_efficiency}}%</p>
                                    <p style="color: #1b1b1b;display: block;font-size: 16px; margin: 0;">Land Use Efficiency</p>
                                </td>                            
                                <td style="padding:0 5px" valign="top">
                                    <p style="color: #387621;display: block;font-size: 24px; margin: 0;">{{total_gallons_water_saved}}</p>
                                    <p style="color: #1b1b1b;display: block;font-size: 16px; margin: 0;">Gallons of Water Saved Per Pound</p>
                                </td>
                            </tr>
                            <tr style="width: 100%; display: block;">
                                <td colspan="3" style="padding:0px">&nbsp;</td>
                            </tr>
                            <tr width="33%" style="display: inline-block;">
                                <td style="padding:0 5px" valign="top">
                                    <p style="color: #387621;display: block;font-size: 24px; margin: 0;">{{less_ghg_value}}%</p>
                                    <p style="color: #1b1b1b;display: block;font-size: 16px; margin: 0;">Reduction in GHG Emissions</p>
                                </td>                            
                                <td style="padding:0 5px" valign="top">
                                    <p style="color: #387621;display: block;font-size: 24px; margin: 0;">{{co2eq_claims}}</p>
                                    <p style="color: #1b1b1b;display: block;font-size: 16px; margin: 0;">CO2 Equivalent Saved Per Pound</p>
                                </td>                            
                                <td style="padding:0 5px" valign="top">
                                    <p style="color: #387621;display: block;font-size: 24px; margin: 0;">{{grower_premium_percent1}}%</p>
                                    <p style="color: #1b1b1b;display: block;font-size: 16px; margin: 0;">Change in Grower Premiums</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>            
            <tr>
                <td height="40">&nbsp;</td>
            </tr>
            <tr>
                <td height="40">&nbsp;</td>
            </tr>            
            <tr>
                <td>
                    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                        <tbody>
                            <tr>
                                <td height="40">&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="40">&nbsp;</td>
                            </tr> 
                            <tr>
                                <td class="bottom_p_wapper" style="margin-top: 60px;padding-bottom: 30px;">
                                    <p style="font-size: 13px;line-height: 20px;color: #696969;">These claims are aggregate values derived from field level data from each compliant agricultural field enrolled in the Agreeta Solutions platform for the 2022 crop year. Data provided for the claims specified herein are the result of collaboration between Growers, their Agricultural Consultants and the use of the Agreeta Platform. Supporting grower survey results, lab soil tests, tissue tests and water tests along with field specific input data entered into the Agreeta Platform were data points used to quantify the values required to supply the data to support claims. For savings calculations, these data points were then compared to published USDA National and Regional Crop Data, USDA COMET-FarmTM and OECD-FAO Agricultural Outlook 2022-2031.</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;" >
        <tbody>
            <tr>
                <td>
                    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                        <tbody>
                            <tr>
                                <td style="border-top:1px solid #999999;"></td>
                            </tr>
                            <tr>
                                <td height="20">&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="20">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>
                                    <p style="color: #70ab5c; display: block;font-size: 16px;font-weight: 200;text-align: center;margin:0;">ISO 14064-3:2019</p>
                                </td>
                            </tr>
                            <tr>
                                <td height="20">&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="20">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>
                                    <p style="color: #70ab5c; display: block;font-size: 18px;font-weight: 200;text-align: center; margin-top: 10px;">Greenhouse Gas Verification Statement</p>
                                </td>
                            </tr>
                            <tr>
                                <td height="20">&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="20">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>
                                    <p style="font-size: 14px;line-height: 24px;color: #696969;">SGS Tecnos S.A.U (Spain) concluded that the claims presented are materially correct and is a fair representation of GHG data and information and has been prepared in accordance with the requirements of Agreeta's methodology, in relation to its quantification, control and notification.</p>
                                </td>
                            </tr>
                            <tr>
                                <td height="20">&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="20">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>
                                    <p style="margin-top: 30px;font-size: 14px;line-height: 24px;color: #696969;">The GHGs included are: carbon dioxide (CO2), methane (CH4), nitrogen oxide (N2O), hydrofluorocarbons (HFCs), perfluorocarbons (PFCs), sulfur hexafluoride (SF6). The CFP is based on the quantification of the greenhouse gasses related to the entire product’s cycle of life.</p>
                                </td>
                            </tr>                            
                            <tr>
                                <td height="20">&nbsp;</td>
                            </tr>
                            
                            <tr>
                                <td style="border-top:1px solid #999999;"></td>
                            </tr>
                            <tr>
                                <td height="20">&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="20">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>
                                    <p style="font-size: 14px;line-height: 24px;color: #696969;">The Carbon footprint is the sum of emissions that a product generates during its life cycle. The study of the CFP the carbon footprint to be quantified in terms of CO2 equivalent units. The methodology underlying the Product’s Carbon Footprint is based on the principle of responsibility towards the environment and the transparency of the communication of the results.</p>
                                </td>
                            </tr>
                            <tr>
                                <td height="20">&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="20">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="width: 100%; display: block; text-align: center;"><img src="https://harvesttrails.app/static/img/images/logo-2.png" alt="" style="width: 100%;"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>    
</body>
</html>