.multiselect-wrapper {
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    font-size: 14px;
	text-align: left;
}

.multiselect-wrapper .multiselect-input {
    width: 100%;
    padding-right: 50px;
    padding: 12px;
    border-radius: 50px;
}

.multiselect-wrapper label {
	display: block;
	font-size: 12px;
	font-weight : 600;
}

.multiselect-wrapper .multiselect-list {
	z-index: 1;
	position: absolute;
	display: none;
	background-color: white;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	margin-top: -2px;
}

	.multiselect-wrapper .multiselect-list.active {
		display: block;
	}

	.multiselect-wrapper .multiselect-list > span {
		font-weight: bold;
	}

	.multiselect-wrapper .multiselect-list .multiselect-checkbox {
		margin-right: 2px;
	}

	.multiselect-wrapper .multiselect-list > span,
	.multiselect-wrapper .multiselect-list li {
		cursor: default;
	}

	.multiselect-wrapper .multiselect-list {
		padding: 8px;
		min-width: 235px;
		border-radius: 5px;
		border: 1px solid #ddd;
	}

.multiselect-wrapper ul {
	list-style: none;
	display: block;
	position: relative;
	padding: 0px;
	margin: 0px;
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
}

	.multiselect-wrapper ul li {
		padding-right: 20px;
		display: block;
	}

	.multiselect-wrapper ul li.active {
		background-color: #00b258;
		color: white;
	}
		.multiselect-wrapper ul li:hover {
			background-color: #00b258;
			color: white;
		}

.multiselect-input-div {
	height: auto;
	position: relative;
}
.multiselect-input-div input {
    border: 1px solid #ababab;
    background: #fff;
    margin: 0px;
    padding: 5px;
    vertical-align: middle;
}

.multiselect-count {
    position: relative;
    text-align: center;
    border-radius: 2px;
    background-color: #00b258;
    display: inline-block !important;
    padding: 2px 7px;
    left: -45px;
    color: #fff;
	top: 7%;
}

.multiselect-wrapper.disabled .multiselect-dropdown-arrow {
	border-top: 5px solid lightgray;
}

.multiselect-wrapper.disabled .multiselect-count {
	background-color: lightgray;
}

.multiselect-dropdown-arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    position: absolute;
    text-align: center;
    display: inline-block !important;
    margin-left: -42px;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
}
label {
    display: inline-block;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

label#testSelect1_inputCount {
    top: 41% !important;
    transform: translateY(-50%) !important;
    bottom: auto;
}
.multiselect-wrapper ul li label {
    font-size: 14px !important;
}
.multiselect-wrapper .multiselect-list .multiselect-checkbox {
    margin-right: 2px;
    width: 17px;
    height: 17px;
    position: relative;
    top: 4px;
}
.disabled-consultants option:disabled  {color:#fff;}