				<div class="right-data-by-percentage">
					<div class="progressBar-graph">

						<div  class="inner-score-data border-left">

							  <div class="progress fieldQuestions">
								<div
								  class="progress-bar"
								  role="progressbar"
								  style="width: {{score.0}}%;"
								  aria-valuenow="50"
								  aria-valuemin="0"
								  aria-valuemax="100"
								></div>
							  </div>
							  <div class="progress completeSmartRice">
								<div
								  class="progress-bar"
								  role="progressbar"
								  style="width: {{score.1}}%;"
								  aria-valuenow="75"
								  aria-valuemin="0"
								  aria-valuemax="100"
								></div>
							  </div>
							  <div class="progress salesSmartRice">
								<div
								  class="progress-bar"
								  role="progressbar"
								  style="width: {{score.2}}%;"
								  aria-valuenow="21"
								  aria-valuemin="0"
								  aria-valuemax="100"
								></div>
							  </div>
						</div>
					</div>
					<div class="percentage-score-data">
						<div class="inner-score-data">
							<ul class="score-percentage-list">

								<li>{{score.0}}%</li>
								<li>{{score.1}}%</li>
								<li>{{score.2}}%</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- horizontal list -->
				<div class="col-md-12">
					<div class="horizontal-category-container">
						<ul class="horizontal-list-cat">
							<li>Entry SmartRice Survey</li>
							<li>Complete SmartRice Survey</li>
							<li>Sales SmartRice Survey</li>
						</ul>
					</div>
				</div>