{% extends "base.html" %} {% load static %}
{% block title %} Inbound Management {% endblock title %}

{% block extrahead %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y3EWVPF7PQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Y3EWVPF7PQ');
</script>
{% endblock extrahead %}

{% load crispy_forms_tags %}
{% block content %}
{% include 'navbar.html' %}

<div class="main-content">
    {% include 'header.html' %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.0/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedcolumns/4.2.1/css/fixedColumns.dataTables.min.css">
    <style>
    .dataTables_scrollHead,
        .dataTables_scrollBody,
        .dataTables_scrollFoot {
            width: 100% !important;
        }
    </style>
    <style>
        table.classing tbody tr td {
            vertical-align: top;
        }
    
        ul.pagination {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
    
        ul.pagination li {
            list-style: none;
            line-height: 45px;
            text-align: center;
            font-size: 18px;
            font-weight: 500;
            cursor: pointer;
            user-select: none;
            transition: all 0.3s ease;
        }
    
        ul.pagination li {
            display: none;
            position: relative;
        }
    
    
        ul.pagination li:first-of-type,
        ul.pagination li:nth-of-type(2),
        ul.pagination li:last-of-type,
        ul.pagination li:has( + li:last-of-type),
        ul.pagination li.active,
        ul.pagination li.active + li,
        ul.pagination li.active + li + li,
        ul.pagination li:has(+ li.active),
        ul.pagination li:has(+ li + li.active){
            display: block;
        }
    
        ul.pagination li:has(+ li + li.active){
            padding-left: 35px;
        }
    
        ul.pagination li.active + li + li {
            padding-right: 35px;
        }
    
        ul.pagination li:has( + li + li.active) a:before,
        ul.pagination li.active + li + li a:after {
            content: "...";
            font-size: 16px;
            display: inline-block;
            width: 35px;
            height: 40px;
            position: absolute;
            top: -1px;
            background-color: #fff;
            border: 1px solid #ddd;
        }
    
        ul.pagination li:has( + li + li.active) a:before {
            left: -35px;
        }
    
        ul.pagination li.active + li + li a:after {
            right: -35px;
        }
    
        ul.pagination li:nth-of-type(1) a:before,
        ul.pagination li:nth-of-type(2) a:before,
        ul.pagination li:nth-of-type(3) a:before {
            display: none !important;
        }
    
        ul.pagination li:nth-of-type(1),
        ul.pagination li:nth-of-type(2),
        ul.pagination li:nth-of-type(3) {
            padding-left: 0 !important;
        }
    
        ul.pagination li:nth-of-type(1) a:after,
        ul.pagination li:nth-of-type(2) a:after,
        ul.pagination li:nth-of-type(3) a:after {
            display: none !important;
        }
    
        ul.pagination li:nth-of-type(1),
        ul.pagination li:nth-of-type(2),
        ul.pagination li:nth-of-type(3) {
            padding-left: 0 !important;
        }

        .ui-menu{height: 20vh;overflow-y: auto;padding: 0px 10px;margin: 0px 15px;}
        .ui-menu::-webkit-scrollbar{width:6px;max-height:20px;padding-right: 10px;}
        .ui-menu::-webkit-scrollbar-track{background:#ccc}
        .ui-menu:-webkit-scrollbar-thumb{background-color:#000;border-radius:20px;min-height:20px}
            
        .dropdown.bootstrap-select.form-control .btn {
            border-radius: 8px !important;
            outline: 0px !important;
            
        }
        
        .selected {
            margin-top: 0;
            margin-left: 0;
            padding-left: 12px;
            padding-right: 10px;
            font-size: 16px;
            padding: 5px 10px 5px 5px;
        }
        .dropdown-item {
            display: block;
            width: 100%;
            padding: 0.25rem 0.4rem;
            clear: both;
            font-weight: 400;
            color: #212529;
            text-align: inherit;
            white-space: nowrap;
            background-color: transparent;
            border: 0;
        }
    </style>
    <main>
        {% include '_alerts.html' %}
        <div class="page-title-with-or-without-btn">
            <span class="farm headingtop">Inbound Management</span>
            <!-- Create button for Account-->
            <div class="flex-header-btn">                
                    <a href="{% url 'recive_shipment' %}" class="btn-close-cancel">Receive Delivery</a>
                &nbsp;
                {% if request.user.is_superuser or 'SubAdmin' in request.user.get_role or 'SuperUser' in request.user.get_role %}
                    <a href="{% url 'rejected_shipments_csv_download_for_t2' %}" class="btn-close-cancel" target="_blank">Rejected Shipments CSV</a>
                    &nbsp;
                    <a href="{% url 'all_shipments_csv_download_for_t2' %}" class="btn-close-cancel" target="_blank">All Shipments CSV</a>
                {% endif %}
            </div>

        </div>        
        <form action="" method="get" class="">
            <div class="card card-padding">
                <div class="main-simple-table-with-search col-12">
                    <div class="row d-flex">
                        <div class="col-3">                            
                                <select name="select_processor" id="mult_select"  class="form-control selectpicker" data-live-search="true">
                                    <option value='All'>Select Processor</option>
                                    {% for pro in processor2 %}                    
                                    {% if  pro.id == select_processor %}
                                        <option value="{{pro.pk}}" selected>{{pro.entity_name}}</option>
                                    {% else %}
                                        <option value="{{pro.pk}}">{{pro.entity_name}}</option>
                                    {% endif %}
                                    {% endfor %}
                            </select>
                        </div>
                        <input style="display : none;" id="submitBtn" type="submit"
                                    class="apply-filter-btn primary-btn" value="Apply Filter" />
                       <div class="col-5"></div>

                        <!-- Search section on the right side -->
                        <div class="col-4">
                            <div class="row justify-content-end">
                                <div class="col-8">
                                    <input class="form-control" name="search_name" type="search" placeholder="Search" autocomplete="off" aria-label="Search" id="search_name" {% if search_name %}value="{{search_name}}"{% else %}{% endif %}>
                                </div>
                                <div class="col-4">
                                    <button type="submit" class="btn btn-outline-success ml-2">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <br>

                    <div class="both-data-in" style="display: inherit;">
                        <div class="table-responsive">
                            <table id="" class="table table-striped dt-responsive nowrap"
                                style="width:100%">
                                <thead>
                                    <tr style="border-bottom: 2px solid #e0e0e0;">
                                        <th width="5%">Shipment ID</th>
                                        <th width="5%">Shipment Date</th>
                                        <th width="10%">STORAGE BIN</th>
                                        <th width="10%">PROCESSOR (Sender)</th>
                                        <th width="10%">SENDER SKU ID</th>
                                        <th width="10%">Sent Weight</th>
                                        <th width="10%">PROCESSOR (Receiver)</th>
                                        <th width="10%">RECEIVER SKU ID</th>
                                        <th width="10%">Received Weight</th>  
                                        <th width="10%">RECEIVE Date</th>
                                        <th width="10%">STATUS</th>
                                        <th width="10%">ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    {% if table_data %}
                                        {% for shipment in table_data %}
                                        <div class="modal fade" id="shipmentModal{{shipment.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header" style="text-align: center;">
                                                        <button type="button" class="btn-close cust-close-ds-btn close_modal_addqueModal"
                                                            data-mdb-dismiss="modal" aria-label="Close" onclick="closeAddModal()"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="modal-center-btn-footer">
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <div>
                                                                        <h5 class="text-decoration-underline">QR CODE</h5>
                                                                    </div>
                                                                    
                                                                    <img id="qr_id" src="/media/{{shipment.qr_code_processor}}" alt="qr code" style="max-width: 100%;">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <tr>
                                            <td>{{shipment.shipment_id}}</td>
                                            <td>{{shipment.date_pulled|date:"M d, Y"}}</td>
                                            <td>{{shipment.bin_location}}</td>
                                            <td>{% if shipment.processor_e_name %} {{shipment.processor_e_name}}-{{shipment.sender_processor_type}} {% endif %}</td>
                                            <td>{{shipment.storage_bin_send}}</td>
                                            <td>{% if shipment.weight_of_product %}{{shipment.weight_of_product}} {{shipment.weight_of_product_unit}} {% else %} - {% endif %}</td>
                                            <td>{{shipment.processor2_name}} - {{shipment.receiver_processor_type}}</td>
                                            <td>{% if shipment.storage_bin_recive %}
                                                {{shipment.storage_bin_recive}}
                                            {% else %}
                                            -
                                            {% endif %}</td>
                                            <td>{% if shipment.received_weight %}{{shipment.received_weight}} {{shipment.weight_of_product_unit}} {% else %} - {% endif %}</td>
                                            <td>{% if shipment.recive_delivery_date %}
                                                {{shipment.recive_delivery_date.date}}
                                            {% else %}
                                            -
                                            {% endif %}</td>
                                            <td>{% if shipment.status %}
                                                {{shipment.status}}
                                            {% else %}
                                            -
                                            {% endif %}</td>
                                            <td class="backk action-td rmv-bd">
                                            <ul>
                                                <li>
                                                    <a class="map-icon-link" data-bs-toggle="modal" href="#shipmentModal{{shipment.id}}" ><span
                                                            class="fas fa-qrcode" alt="view QR code" title="view QR code"></span></a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'inbound_shipment_view' shipment.id %}"
                                                        class="update-btn-link" alt="view inbound management" title="view inbound management"> <span class="fas fa-eye"></span> </a>
                                                </li>
                                                
                                                {% if request.user.is_superuser or 'SubAdmin' in request.user.get_role or 'SuperUser' in request.user.get_role or 'Processor2' in request.user.get_role %}
                                                
                                                
                                                <li>
                                                    <a href="{% url 'inbound_shipment_edit' shipment.id %}" class="update-btn-link" alt="edit inbound management" title="edit inbound management"> <span class="fas fa-edit"></span></a>
                                                </li>
                                                {% endif %}
                                                {% if request.user.is_superuser or 'SubAdmin' in request.user.get_role or 'SuperUser' in request.user.get_role %}
                                                <li><a href="{% url 'view_trace' shipment.shipment_id from_date to_date  %}" class="update-btn-link" alt="view traceability" title="view traceability"> <span class="fas fa-arrow-circle-right"></span></a></li>
                                                <li>
                                                    <a type="button"
                                                data-mdb-toggle="modal" data-mdb-target="#deleteModal{{shipment.id}}" alt="delete inbound shipment" title="delete inbound shipment">
                                                <span class="fas fa-trash"></span></a>
                                                </li>
        
                                                <div class="modal fade" id="deleteModal{{shipment.id}}" aria-hidden="true" aria-labelledby="exampleModalToggleLabel22" tabindex="-1">
                                                    <div class="modal-dialog">
                                                    <div class="modal-content">
                                                
                                                        <div class="modal-body">
                                                        <button type="button" class="btn-close cust-close-ds-btn" data-mdb-dismiss="modal" aria-label="Close"></button>
                                                        <div class="center-content-status">
                                                            <img src="{% static 'img/trash.png' %}" alt="right" id="rightImg" class="warning-icon">
                                                            <p id="message" class="modal-title titlepad">Are you sure you want to delete?</p>
                                                        </div>
                                                        <div class="modal-center-btn-footer">
                                                            <button onclick="reloadwindow()" id="closeBtnpopup" type="button" class="btn-close-cancel btn-space"
                                                            data-mdb-dismiss="modal">
                                                            Close
                                                            </button>
                                                            <a href="{% url 'inbound_shipment_delete' shipment.id %}" id="storageDelete" class="btn-save-submit">Delete</a>                                                 
                                                        </div>
                                                        </div>                                        
                                                    </div>
                                                    </div>
                                                </div>
                                                {% endif %}
                                            </ul>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td colspan="12" style="text-align:center;">No Result Found</td>
                                        </tr>
                                    {% endif %} 
                                </tbody>
                            </table>
                        </div>

                        <div class="row align-items-center">
                                <div class="col-md-12 col-sm-12 col-12 text-center">
                                    {% if table_data.has_other_pages %}
                                        <ul class="pagination" id="nav_1">
                                            {% if table_data.has_previous %}
                                                <li><a href="?select_processor={{ select_processor }}&search_name={{ search_name }}&page={{ table_data.previous_page_number }}">&laquo;</a></li>
                                            {% else %}
                                                <li class="disabled"><span>&laquo;</span></li>
                                            {% endif %}
                                            {% for i in table_data.paginator.page_range %}
                                                {% if table_data.number == i %}
                                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                                {% else %}
                                                    <li><a href="?select_processor={{ select_processor }}&search_name={{ search_name }}&page={{ i }}">{{ i }}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                            {% if table_data.has_next %}
                                                <li><a href="?select_processor={{ select_processor }}&search_name={{ search_name }}&page={{ table_data.next_page_number }}">&raquo;</a></li>
                                            {% else %}
                                                <li class="disabled"><span>&raquo;</span></li>
                                            {% endif %}
                                        </ul>
                                    {% endif %}
                                </div>
                            <div class="col-md-12 col-sm-12 col-12 text-center mt-2" style="text-align:right">
                                <span>Showing  {{ table_data.start_index }} - {{ table_data.end_index }} of {{ table_data.paginator.count }} entries
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>   

</div>
</main>
{% include 'footer.html' %}
</div>

    {% endblock content %}

    {% block scripts %}
    <script src="https://cdn.datatables.net/1.11.0/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.0/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/responsive.bootstrap4.min.js"></script>
    <script src="{% static 'js/farm/farm_list.js' %}"></script>
    <script src="https://cdn.datatables.net/fixedcolumns/4.2.1/js/dataTables.fixedColumns.min.js"></script>

    <script>
        
        function showQR(grower_shipment_pk) {
            console.log(grower_shipment_pk)
            $.ajax({
                type: "GET",
                url: `/processor/qr_code_view/${grower_shipment_pk}`,
                data: {},
                contentType: false,
                cache: false,
                processData: false,
                success: function (response) {
                    console.log('response1', response)
                    var qrimgsrc = document.getElementById("qr_id").src;
                    console.log(qrimgsrc)
                    $('#qr_id').attr("src", "/media/" + response);

                }
            });
            $('#addqueModal').modal('show');
        }

        function closeAddModal() {
            $('#addqueModal').modal('hide');
        }
    </script>
    {% endblock scripts %}

{% block jquery %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">
</script>
<link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" rel="stylesheet"
    type="text/css" />


<script>
$(function() {
    $('#search_name').on('input', function() {
        
        var availableTags  = {{ select_search_json|safe }};
        $("#search_name").autocomplete({
            source: availableTags
        })
    });
});
</script> 
  <script>
    $(document).ready(function() {
        $('#my_table').DataTable({
            "order": [[0, "desc"]]  // Sort by first column (ID) in descending order
        });
    });
</script>
<script>
    function showQR(grower_shipment_pk){
        console.log(grower_shipment_pk)
        $.ajax({
         type: "GET",
         url: `/processor/qr_code_view/${grower_shipment_pk}`,
         data: { },
         contentType: false,
         cache: false,
         processData: false,
         success: function (response) {
           console.log('response1', response)
           var qrimgsrc = document.getElementById("qr_id").src;
           console.log(qrimgsrc)
           $('#qr_id').attr("src", "/media/"+response);
           
   
         }
       });
        $('#addqueModal').modal('show');
       }
   
       function closeAddModal() {
         $('#addqueModal').modal('hide');
     }
</script>
<script>
    $(document).ready(function() {
    $('#growerSelction').change( function () {
    $('#submitBtn').click();
    });
    });
    $(document).ready(function() {
    $('#fieldSelction').change( function () {
    $('#submitBtn').click();
    });
    });
</script>
<script>
    $('#Tier2-Processor-active').addClass('activeLink');
  
    $('#Tier2-Processor-down').addClass('down');
    $('#Tier2-Processor-sub').show();
  
    $('#Inbound-Management-Processor2').addClass('activeLink active-nav');
  
  </script>
{% endblock jquery %}