{% extends "base.html" %} {% load static %} {% block title %} Traceability Report {% endblock title %} 

{% block extrahead %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y3EWVPF7PQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Y3EWVPF7PQ');
</script>
{% endblock extrahead %}

{% block content %} {% include 'navbar.html' %}
<div class="main-content">
    {% include 'header.html' %} {% load crispy_forms_tags %}
    <main>
    <style>
        /* .col-md-6{
            width: 50%;
        } */
    </style>


    
    <section class="main_section" style="background-color: #fff; max-width: 800px; width: 100%; margin: auto; padding: 20px 0;">
        <div class="container">
            <div class="heading"  style="text-align: center;">
                <h2 style="font-size: 35px;">Traceability Report for {shipment ID, bin #, lot #}</h2>
            </div>
            <div class="row" style="padding-top: 15px; margin-top: 30px; border-top: 1px solid #dadada; display: flex;">
                <div class="col-6 mb-3">
                    <div class="text_wapper">
                        <h3 style="font-size: 30px; margin-bottom: 20px;">Origin</h3>
                        <ul style="list-style: none; padding: 0; margin: 0;">
                            <li>
                                <span style="display: block; font-size: 18px; font-weight: bold; margin-bottom: 10px;">Grower 1 Name</span>
                                <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis, culpa!</span>
                            </li>
                        </ul>
                        <ul style="list-style: none; padding: 0; margin: 0; margin-top: 20px;">
                            <li>
                                <span style="display: block; font-size: 18px; font-weight: bold; margin-bottom: 10px;">Grower 2 Name</span>
                                <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis, culpa!</span>
                            </li>
                        </ul>
                        <ul style="list-style: none; padding: 0; margin: 0; margin-top: 20px;">
                            <li>
                                <span style="display: block; font-size: 18px; font-weight: bold; margin-bottom: 10px;">Grower 3 Name</span>
                                <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis, culpa!</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-6">
                    <div class="img_wapper" style="width: 100%; height: 250px;">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14736.291556014114!2d88.42368324144367!3d22.576377035307207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a0275b020703c0d%3A0xece6f8e0fc2e1613!2sSector%20V%2C%20Bidhannagar%2C%20Kolkata%2C%20West%20Bengal!5e0!3m2!1sen!2sin!4v1713427063064!5m2!1sen!2sin"  style="border:0; width: 100%; height: 100%; max-height: 100% !important;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 15px; margin-top: 30px; border-top: 1px solid #dadada; display: flex;">
                <div class="col-6 mb-3">
                    <div class="text_wapper">
                        <h3 style="font-size: 30px; margin-bottom: 20px;">Processor 1</h3>
                        <ul style="list-style: none; padding: 0; margin: 0;">
                            <li>
                                <span style="display: block; font-size: 18px; font-weight: bold; margin-bottom: 10px;">Processor Name</span>
                                <span>Akshya Nagar 1st Block 1st Cross, Rammurthy nagar, Bangalore-560016</span>
                            </li>
                        </ul>
                        <ul style="list-style: none; padding: 0; margin: 0; margin-top: 30px;">
                            <li style="font-weight: 500; margin-bottom: 5px;">Processing Date: <em style="font-weight: 400; font-style: normal;">18.04.2024</em></li>
                            <li style="font-weight: 500;">Resulting Lot Number: <em style="font-weight: 400; font-style: normal;">58742586</em></li>
                        </ul>
                    </div>
                </div>
                <div class="col-6">
                    <div class="img_wapper" style="width: 100%; height: 250px;">
                        <img src="https://images.unsplash.com/photo-1524661135-423995f22d0b?q=80&w=1474&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" style="width: 100%; height: 100%; object-fit: contain; object-position: center;">
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 15px; margin-top: 30px; border-top: 1px solid #dadada; flex-direction: row-reverse; display: flex;">
                <div class="col-6">
                    <div class="text_wapper">
                        <h3 style="font-size: 30px; margin-bottom: 20px;">Transport to Processor 2</h3>
                        <ul style="list-style: none; padding: 0; margin: 0;">
                            <li>
                                <span style="display: block; font-size: 18px; font-weight: bold; margin-bottom: 10px;">Transport Type</span>
                            </li>
                        </ul>
                        <ul style="list-style: none; padding: 0; margin: 0; margin-top: 30px;">
                            <li style="font-weight: 500; margin-bottom: 5px;">Transport ID: <em style="font-weight: 400; font-style: normal;">5475820</em></li>
                            <li style="font-weight: 500;">Transport Date:<em style="font-weight: 400; font-style: normal;">18.04.2024</em></li>
                        </ul>
                    </div>
                </div>
                <div class="col-6">
                    <div class="img_wapper" style="width: 100%; height: 250px;">
                        <img src="https://images.unsplash.com/photo-1524661135-423995f22d0b?q=80&w=1474&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" style="width: 100%; height: 100%; object-fit: contain; object-position: center;">
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 15px; margin-top: 30px; border-top: 1px solid #dadada; display: flex;">
                <div class="col-6 mb-3">
                    <div class="text_wapper">
                        <h3 style="font-size: 30px; margin-bottom: 20px;">Processor 2</h3>
                        <ul style="list-style: none; padding: 0; margin: 0;">
                            <li>
                                <span style="display: block; font-size: 18px; font-weight: bold; margin-bottom: 10px;">Processor Name</span>
                                <span>Akshya Nagar 1st Block 1st Cross, Rammurthy nagar, Bangalore-560016</span>
                            </li>
                        </ul>
                        <ul style="list-style: none; padding: 0; margin: 0; margin-top: 30px;">
                            <li style="font-weight: 500; margin-bottom: 5px;">Processing Date: <em style="font-weight: 400; font-style: normal;">18.04.2024</em></li>
                            <li style="font-weight: 500;">Resulting Lot Number: <em style="font-weight: 400; font-style: normal;">58742586</em></li>
                        </ul>
                    </div>
                </div>
                <div class="col-6">
                    <div class="img_wapper" style="width: 100%; height: 250px;">
                        <img src="https://images.unsplash.com/photo-1524661135-423995f22d0b?q=80&w=1474&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" style="width: 100%; height: 100%; object-fit: contain; object-position: center;">
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 15px; margin-top: 30px; border-top: 1px solid #dadada; flex-direction: row-reverse; display: flex;">
                <div class="col-6 mb-3">
                    <div class="text_wapper">
                        <h3 style="font-size: 30px; margin-bottom: 20px;">Transport to Processor 3</h3>
                        <ul style="list-style: none; padding: 0; margin: 0;">
                            <li>
                                <span style="display: block; font-size: 18px; font-weight: bold; margin-bottom: 10px;">Transport Type</span>
                            </li>
                        </ul>
                        <ul style="list-style: none; padding: 0; margin: 0; margin-top: 30px;">
                            <li style="font-weight: 500; margin-bottom: 5px;">Transport ID: <em style="font-weight: 400; font-style: normal;">5475820</em></li>
                            <li style="font-weight: 500;">Transport Date:<em style="font-weight: 400; font-style: normal;">18.04.2024</em></li>
                        </ul>
                    </div>
                </div>
                <div class="col-6">
                    <div class="img_wapper" style="width: 100%; height: 250px;">
                        <img src="https://images.unsplash.com/photo-1524661135-423995f22d0b?q=80&w=1474&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" style="width: 100%; height: 100%; object-fit: contain; object-position: center;">
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 15px; margin-top: 30px; border-top: 1px solid #dadada; display: flex;">
                <div class="col-6 mb-3">
                    <div class="text_wapper">
                        <h3 style="font-size: 30px; margin-bottom: 20px;">Processor 3</h3>
                        <ul style="list-style: none; padding: 0; margin: 0;">
                            <li>
                                <span style="display: block; font-size: 18px; font-weight: bold; margin-bottom: 10px;">Processor Name</span>
                                <span>Akshya Nagar 1st Block 1st Cross, Rammurthy nagar, Bangalore-560016</span>
                            </li>
                        </ul>
                        <ul style="list-style: none; padding: 0; margin: 0; margin-top: 30px;">
                            <li style="font-weight: 500; margin-bottom: 5px;">Processing Date: <em style="font-weight: 400; font-style: normal;">18.04.2024</em></li>
                            <li style="font-weight: 500;">Resulting Lot Number: <em style="font-weight: 400; font-style: normal;">58742586</em></li>
                        </ul>
                    </div>
                </div>
                <div class="col-6">
                    <div class="img_wapper" style="width: 100%; height: 250px;">
                        <img src="https://images.unsplash.com/photo-1524661135-423995f22d0b?q=80&w=1474&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" style="width: 100%; height: 100%; object-fit: contain; object-position: center;">
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% include 'footer.html' %}
</div>
{% endblock %}

{% block jquery %}
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
        {% endblock jquery %}