{% extends "base.html" %} {% load static %}
{% block title %} Customer View {% endblock title %}

{% block extrahead %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y3EWVPF7PQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Y3EWVPF7PQ');
</script>
{% endblock extrahead %}

{% load crispy_forms_tags %}
{% block content %}
{% include 'navbar.html' %}

<div class="main-content">
    {% include 'header.html' %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.0/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap4.min.css">

    <main>
        {% include '_alerts.html' %}
        <div class="page-title-with-or-without-btn">
            <span class="farm headingtop">Customer Details</span>
            <!-- Create button for Account-->
            
        </div>

        <div class="card farm-fields-container">
            <div class="container-fluid">                
                    <div class="row" style="margin-bottom: 20px;">
                        <div class="col-md-4 " style="margin-bottom: 10px;">
                            <label for="shipment" style="font-weight:bold;">Customer Entity Name</label>
                            <p>{{customer.name}}</p>                            
                        </div>
                        <div class="col-md-4 " style="margin-bottom: 10px;">
                            <label for="shipment" style="font-weight:bold;">Customer Id</label>
                            <p>{{customer.id}}</p>                            
                        </div>                       
                        <div class="col-md-4" style="margin-bottom: 10px;">
                            <label for="shipment"style="font-weight:bold;">Contact Email</label>
                            <p>{{customer_user.contact_email}}</p>                            
                        </div>  
                        <div class="col-md-4" style="margin-bottom: 10px;">
                            <label for="shipment"style="font-weight:bold;">Contact Number</label>
                            <p>{{customer_user.contact_phone}}</p>                            
                        </div>                   
                        <div class="col-md-4" style="margin-bottom: 10px;">
                            <label for="shipment"style="font-weight:bold;">Location</label>
                            <p>{{customer.location}}</p>                            
                        </div>
                        <div class="col-md-4 " style="margin-bottom: 10px;">
                            <label for="shipment"style="font-weight:bold;">Credit Terms</label>
                            <p>{{customer.credit_terms}}</p>                            
                        </div>
                        <div class="col-md-4" style="margin-bottom: 10px;">
                            <label for="shipment"style="font-weight:bold;">Tax Payable Status</label>
                            <p>{{customer.is_tax_payable}}</p>                            
                        </div>
                        {% if customer.is_tax_payable %}
                        <div class="col-md-4 " style="margin-bottom: 10px;">
                            <label for="Balance"style="font-weight:bold;">Tax Percentage</label>
                            <p>{{customer.tax_percentage}}</p>                            
                        </div>
                        {% endif %}                      
                        <div class="col-md-4 " >
                            <label for="UploadedFiles" style="font-weight:bold;">Uploaded Documents</label>
                            {% for document in documents %}
                            <div class="row mt-3">
                            {%  if document.file %}                        
                            <span> <a href="{{ document.file }}" class="" target="_blank">{{ document.document_name }}</a></span>
                               
                            {% else %}
                            <span>No documents available.</span>
                            {% endif %}
                            </div>
                            {% endfor %}
                        </div>                                        
                    </div>
                    
                    <div class="row" style="margin-top: 10px;">
                        <div class="form-btn-row">
                            <a href="{% url 'list-customer' %}" class="btn-close-cancel btn-space">Back</a>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</main>
{% include 'footer.html' %}
</div>
{% endblock content %}
{% block jquery %}
<script>
    $('#Warehouse-active').addClass('activeLink');
  
    $('#Warehouse-down').addClass('down');
    $('#Warehouse-sub_unic').show();

    $('#customer-management').addClass('activeLink active-nav');

</script>
{% endblock %}