{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FL7869PRES"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-FL7869PRES');
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    
    <title>
        {% block title %} {% endblock title %}
    </title>
    {% block extrahead %} {% endblock extrahead %}
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <link rel="icon" href="{% static 'img/icons/favicon.png' %}" type="image/x-icon" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %} " />
    <link rel="stylesheet" href="{% static 'css/master.css' %} ">
    <link rel="stylesheet" href="{% static 'css/footable.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %} ">
    <link rel="stylesheet" href="{% static 'css/multiselect.css' %} ">
    <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %} ">
    <link rel="stylesheet" href="{% static 'css/style.css' %} ">
    <!-- Place inside the head tag -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/2.7.0/simple-lightbox.css" integrity="sha512-8WAX0xL/cHZ38RXoX2gtuqkAwmDVAzGwoFVmHvn46IDHGWOjTHx0vcl9OapNrfOzpFtql0SNkv+0y0b5Fm8ZkA==" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    

    <style>
        .dropdown.bootstrap-select.form-control .btn{
            border: 1px solid;
        }
        .select2-container--default .select2-selection--single{
            height: 40px !important;
            padding-top: 6px;
        }
        .select2-container--default .select2-selection--single .select2-selection__arrow{
            top: 5px !important;
        }
    </style>

</head>
<body>
    {% include '_alerts.html' %} 
    {% block content %}

    {% endblock content %}

    <script src="{% static 'js/mdb.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <!-- <script src="{% static 'js/bootstrap.min.js' %}"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery-for-tooltip.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/footable.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/kdqk79n02rc60aqcj21pxus7p5tly5z3jhpzznt02l4c9ukc/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tinymce/tinymce-jquery@1/dist/tinymce-jquery.min.js"></script>

    {% block scripts %}

    {% endblock scripts %}
    <!--  <script type="text/javascript" src="{% static 'js/footable.js' %}"></script> -->

    <!-- Custom scripts -->

    <script src="{% static 'js/photo-and-dashboard.js' %}"></script>
    <!-- search and select -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
    <script>
        $(document).ready(function() {
        $('#mult_select').change( function () {
        $('#submitBtn').click();
        });
        });
        $(document).ready(function() {
        $('#fieldSelction').change( function () {
        $('#submitBtn').click();
        });
        });
    </script>

    <!-- Place at the bottom of the body tag -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/2.7.0/simple-lightbox.min.js" integrity="sha512-ZajFBgnksNp8Rj+AbmYe8ueOu45HiSjtf3QpqnRbHlq719m6VK0FkbYIqQ8wEnlVuJ1i9pC+z6Z9ewmDnUTMCg==" crossorigin="anonymous"></script>
    
    <!-- search and select -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
    <!-- Include Select2 CSS -->
    <!-- Include jQuery (if not already included) and Select2 JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script>
        $(document).ready(function() {
            // Initialize Select2 for the processor dropdown
            $('#processor_id').select2({
                placeholder: "Select Processor",
                allowClear: true,
            });
        });
    </script>
    
    
    {% block jquery %}
    {% endblock jquery %}

</body>
</html>