<table
    id="question_answer_marks"
    class="table table-striped table-bordered dt-responsive nowrap"
    style="width: 100%"
>
    <thead>
    <tr style="border-bottom: 2px solid #e0e0e0">
        <th class="text-center">Order</th>
        <th>
        <div class="d-flex align-items-center">
            Questions
        </div>
        </th>
        <th>
        <div class="d-flex align-items-center">
            Selection
        </div>
        </th>
        <th class="text-center">
            <div id="div_id_name" class="form-group" style="margin-left: auto;">
                <div class="serveytype">
                    <select name="survey_type" class="select form-control" id="survey_type">
                        <option value="">Survey Type</option>
                        {% for survey_type in type_survey_data %}
                        <option value="{{survey_type.name}}">{{survey_type.name}}</option>
                        {% endfor %}
                    </select>
                    <!-- <small id="hint_id_name" class="form-text text-muted">ex: Fred Farmer</small> -->
                </div>
            </div>
        </th>
        <th class="text-center">
        Attachments
        </th>
        <th class="text-center">Farmer point</th>
        <th class="text-center">Acreage</th>
    </tr>
    </thead>
    <tbody>
    
    {% for marks_data in completed_input_survey_data %}    
    <tr>
        <td class="text-center" style="width: 50px;">{{ forloop.counter }}</td>
        <td style="white-space: normal;">
            <p>{{marks_data.questionsurvey}}</p>
        </td>
        <td style="white-space: normal;">
            <ul style="margin: 0px; padding: 0px;">
                {% for option in marks_data.get_options %}
                    <li>{{ forloop.counter }} - {{option.optionname}}</li>
                {% endfor %}
            </ul>
        </td>
        <td style="white-space: normal; width: 175px;">{{marks_data.namesurvey.typesurvey}}</td>
        <td class="text-center">
            <a href="javascript:void(0);" data-evidence="{{marks_data.get_evidence}}" 
            class="{% if marks_data.get_evidence_count > 0 %}get-evidence{% endif %}">
                <div class="attachment-td">
                    <img src="/static/img/attachment.svg" class="att-icon">
                    <div class="att-number">{{marks_data.get_evidence_count}}</div>
                </div>
            </a>
        </td>
        <td class="text-center">
        <div class="farmerpoint-td">
            {{marks_data.optionscore}}
        </div>
        </td>
        <td class="text-center">
            <div>
                {{marks_data.field.acreage}}
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<script>
    $('.get-evidence').on('click', function(e){
        $('#file_list').html("");
        $('#evidence_file_data').modal('show');
        var data_evidence_arr = $(this).data('evidence');
        var file_items = [];

        for(var i=0; i<data_evidence_arr.length; i++)
        {
            var file_name_arr = data_evidence_arr[i].file.split("/");
            var file_name = file_name_arr[1];

            file_items.push("<li><a href='/media/"+data_evidence_arr[i].file+"' download>"+file_name+"</a></li>");
        }
        var file_items_list = file_items.join("");
        $('#file_list').html(file_items_list);

        
    });
    $(document).ready(function() {
        $('#Export_CSV').html('');
        var question_answer_marks = $('#question_answer_marks').DataTable({
            "ordering": false,
            buttons: [ { extend: 'csv', text: 'CSV',title: 'question-marks-{{grower_data}}-{{farm_data}}-{{field_data}}-{{apply_year}}', className: "btn-export" } ],
            "columnDefs": [
                {
                    "targets": [6],
                    "visible": false,
                    "searchable": false
                }
            ]
        });

        question_answer_marks.buttons().container().appendTo( '#Export_CSV' );

        if(sessionStorage.getItem('survey_type'))
        {
            $('#survey_type').val(sessionStorage.getItem('survey_type'));
            sessionStorage.removeItem('survey_type');
        }
        $('#survey_type').change();

        $('#survey_type').on('change', function() {
            console.log(this.value);
            question_answer_marks.column(3).search(this.value ? '\\b' + this.value + '\\b' : "", true, false).draw();
        });

        
    });
</script>