{% extends "base.html" %} {% load static %}
{% block title %} Tier 3 Processor list {% endblock title %}

{% block extrahead %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y3EWVPF7PQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Y3EWVPF7PQ');
</script>
{% endblock extrahead %}


{% load crispy_forms_tags %}
{% block content %}
{% include 'navbar.html' %}
<div class="main-content">
    {% include 'header.html' %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.0/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedcolumns/4.2.1/css/fixedColumns.dataTables.min.css">
    <style>
      .table>:not(caption)>*>*{
        border-bottom-width:0px
      }
    </style>
    <style>
      .dataTables_scrollHead,
      .dataTables_scrollBody,
      .dataTables_scrollFoot {
          width: 100% !important;
      }
  </style>
    <main>
        {% include '_alerts.html' %}
        <div class="page-title-with-or-without-btn">
            <span class="farm headingtop">Tier 4 Processor list Management</span>
            <!-- Create button for add-processor-->
            <div class="flex-header-btn">
                <a href="{% url 'add_processor4' %}" class="btn-close-cancel">Create Tier 4 Processor</a>
            </div>
        </div>
        <div class="card card-padding">
            <div class="main-simple-table-with-search">
                <div class="both-data-in" style="display: inherit;">
                    <div class="simple-responsive-table">
                      <form method="get" class="form-inline" style="float: right; margin-bottom: 10px;">
                        <input type="text" name="search_name" id="searchInput" value="{{ get_search_name }}" placeholder="Search..." class="form-control">
                        <button type="submit" class="btn btn-outline-success ml-2">Search</button>
                      </form>
                        <table id="processorList_tbl" class="table table-striped dt-responsive nowrap" style="width:100%">
                            <thead>
                                <tr style="border-bottom: 2px solid #e0e0e0;">
                                    <th >Entity Name</th>
                                    <th >FEIN</th>
                                    <th >Main Email</th>
                                    <th >Main Contact No.</th>
                                    <th >Name</th>
                                    <th >Email</th>
                                    <th >Password</th>
                                    <th >Phone</th>
                                    <th >Action</th>
                                </tr>
                            </thead>
                            <tbody>
                              {% if page_obj %}
                                {% for i in page_obj %}
                                <tr>
                                    <td>{{i.processor2.entity_name}}</td>
                                    <td>{{i.processor2.fein}}</td>
                                    <td>{{i.processor2.main_email}}</td>
                                    <td>{{i.processor2.main_number}}</td>
                                    <td>{{i.contact_name}}</td>
                                    <td>{{i.contact_email}}</td>
                                    <td>{{i.p_password_raw}}</td>
                                    <td>{{i.contact_phone}}</td>                                   
                                    <td class="backk action-td" >
                                        <li>
                                          <a href="{% url 'add_processor4_user' i.pk %}" class="map-icon-link" alt="add user" title="add user"><span class="fas fa-user-plus"></span></a>
                                        </li>
                                        <li>
                                        <a href="{% url 'update_processor4' i.pk %}" class="update-btn-link" alt="edit processor" title="edit processor"> <span class="fas fa-edit"></span> </a>
                                        </li>
                                        <li>
                                          <a href="{% url 'processor4_change_password' i.pk %}" alt="change password" title="change password"><span class="fas fa-key" data-mdb-toggle="modal" data-mdb-target="#exampleModal"></span></a>
                                        </li>
                                        <li>
                                          <a type="button"
                                      data-mdb-toggle="modal" data-mdb-target="#deleteModal{{i.id}}" alt="delete processor" title="delete processor">
                                      <span class="fas fa-trash"></span></a>
                                      </li>

                                      <div class="modal fade" id="deleteModal{{i.id}}" aria-hidden="true" aria-labelledby="exampleModalToggleLabel22" tabindex="-1">
                                          <div class="modal-dialog">
                                            <div class="modal-content">
                                        
                                              <div class="modal-body">
                                                <button type="button" class="btn-close cust-close-ds-btn" data-mdb-dismiss="modal" aria-label="Close"></button>
                                                <div class="center-content-status">
                                                  <img src="{% static 'img/trash.png' %}" alt="right" id="rightImg" class="warning-icon">
                                                  <p id="message" class="modal-title titlepad">Are you sure you want to delete?</p>
                                                </div>
                                                <div class="modal-center-btn-footer">
                                                  <button onclick="reloadwindow()" id="closeBtnpopup" type="button" class="btn-close-cancel btn-space"
                                                    data-mdb-dismiss="modal">
                                                    Close
                                                  </button>                                                   
                                                  
                                                  <a href="{% url 'processor4_delete' i.id %}" id="storageDelete" class="btn-save-submit">Delete</a>
                                                 
                                                </div>
                                              </div>
                                        
                                            </div>
                                          </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="7" style="text-align:center;">No Result Found</td>
                                    </tr>
                                    {% endif %}
                            </tbody>
                        </table>
                        <div class="col-md-12 col-sm-12 col-12 text-center mt-2" style="text-align:right">
                          <span>Showing {{ page_obj.start_index }} - {{ page_obj.end_index }} of {{ page_obj.paginator.count }} entries</span>
                        </div>
                        <!-- Pagination controls -->
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-sm-6 col-6">
                                {% if page_obj.has_other_pages %}
                                <ul class="pagination" id="nav_1">
                                    {% if page_obj.has_previous %}
                                    <li><a href="?search_name={{ get_search_name }}&page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                                    {% else %}
                                    <li class="disabled"><span>&laquo;</span></li>
                                    {% endif %}
                                    {% for i in page_obj.paginator.page_range %}
                                    {% if page_obj.number == i %}
                                    <li class="active pagi" id="getactive"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                    {% else %}
                                    <li><a href="?search_name={{ get_search_name }}&page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                    <li><a href="?search_name={{ get_search_name }}&page={{ page_obj.next_page_number }}">&raquo;</a></li>
                                    {% else %}
                                    <li class="disabled"><span>&raquo;</span></li>
                                    {% endif %}
                                </ul>
                                {% endif %}
                            </div> 
                    </div>
                </div>
            </div>
    </main>
    {% include 'footer.html' %}
</div>

{% endblock content %}

{% block scripts %}
<script src="https://cdn.datatables.net/1.11.0/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.0/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/responsive.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/fixedcolumns/4.2.1/js/dataTables.fixedColumns.min.js"></script>
<script src="{% static 'js/farm/farm_list.js' %}"></script>

<script>
    $(document).ready(function () {
        $('#processorList_tbl').DataTable({
        responsive: false,
        "paging": true,
        "pageLength": 100,
        "autoWidth": true,
        scrollY: "600px",
        scrollX: true,
        scrollCollapse: true,
        fixedColumns: {
            left: 1,
            right: 1
        },
        });
    });
    
    // $(document).ready(function () {
    //     $('#growerSelction').change(function () {
    //         $('#submitBtn').click();
    //     });
    // });

// delete storage
function delprocessor3(url){
    $('#processor3Delete').show();
    $('#processor3Delete').attr('url',url);
}

function processor3deleteNow(){
  url = $('#processor3Delete').attr('url');
  console.log(url)
  $.ajax({
  url: url,
  data: { },
  success: function (data) {
    if (data==1){
      location.reload();
    }
  }
});
}
</script>

{% endblock scripts %}

{% block jquery %}
<script>
  $('#Tier4-Processor-active').addClass('activeLink');
  
  $('#Tier4-Processor-down').addClass('down');
  $('#Tier4-Processor-sub').show();

  $('#User-Management-Processor4').addClass('activeLink active-nav');

  </script>

{% endblock jquery %}    